<md-dialog aria-label="Mango (Fruit)">
    <form ng-cloak>
        <md-toolbar class="_md _md-toolbar-transitions">
            <div class="md-toolbar-tools">
                <h2>اعضای</h2>
                <span flex="" class="flex"></span>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content" style="width: 600px;">

                <div>
                    <md-input-container class="md-block" style="margin-bottom: 0;">
                        <label for="">جستجو</label>
                        <input type="text" ng-model="searchMemeber" placeholder="جستجو..." ng-model-options="{bounce:500}">
                    </md-input-container>
                </div>
                <div layout="row">
                    <div flex="50" layout-padding="">
                        <h5 style="border-bottom: 1px solid gray;">غیرعضو</h5>
                        <div layout-padding="" style="height: 200px; overflow-x: hidden; overflow-y: scroll;">
                            <div ng-repeat="member in allmembers" ng-click="addToMember(member)" layout="row" layout-align="start center" style="border-bottom: 1px solid lightgrey">
                                <div><img  style="height: 50px; width: 50px; border-radius: 50px; border: 1px solid lightgrey" ng-src="//item.avatar//"></div>
                                <div flex="" style="font-size: 12px;">
                                    <div>//member.profileName//</div>
                                    <div>//member.chartName//</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div flex="50"layout-padding="">
                        <h5  style="border-bottom: 1px solid gray;" >عضوگروه</h5>
                        <div layout-padding="" style="height: 200px; overflow-x: hidden; overflow-y: scroll;">
                            <div ng-repeat="member in __selectedMember track by $index" ng-click="removeFromList($index)" layout="row" layout-align="start center" style="border-bottom: 1px solid lightgrey">
                                <div><img  style="height: 50px; width: 50px; border-radius: 50px; border: 1px solid lightgrey" ng-src="//item.avatar//"></div>
                                <div flex="" style="font-size: 12px;">
                                    <div>//member.profileName//</div>
                                    <div>//member.chartName//</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">

            <md-button class="md-primary md-raised" ng-click="savemember()">ثبت</md-button>

        </md-dialog-actions>

    </form>



</md-dialog>