<div class="main-content">
    <!-- BEGIN TOPBAR -->
    <div class="topbar" ng-controller="TopNavCtrl">
        <div class="header-left">
            <div class="topnav">
                <a class="menutoggle" href="#" data-toggle="sidebar-collapsed"><span
                        class="menu__handle"><span>Menu</span></span></a>


                {#                <ul class="nav nav-icons">#}
                {#                    <li><a href="#" class="toggle-sidebar-top"><span class="icon-user-following"></span></a></li>#}
                {#                    <li><a href="mailbox.html"><span class="octicon octicon-mail-read"></span></a></li>#}
                {#                    <li><a href="#"><span class="octicon octicon-flame"></span></a></li>#}
                {#                    <li><a href="builder-page.html"><span class="octicon octicon-rocket"></span></a></li>#}
                {#                </ul>#}
            </div>
        </div>
        <div class="pull-right"
             style="margin-left: 12px;margin-top: 12px;">
            سال مالی :
            <input type="number" ng-model="saleMali">
            <a ng-click="setCurrentYear()">ذخیره</a>

        </div>

        <!-- header-right -->
    </div>
    <!-- END TOPBAR -->
    <!-- BEGIN PAGE CONTENT -->
    <div class="page-content page-thin">
        <div ui-view>

        </div>
        <div class="footer">
            <div class="copyright">
                <p class="pull-left sm-pull-reset">
                    <span>Copyright <span class="copyright">©</span> 2017 </span>
                    <span>RAHSOON LAB</span>.
                    <span>All rights reserved. </span>
                </p>
                <p class="pull-right sm-pull-reset">
                        <span>
                            <a href="#" class="m-r-10">Support</a> |
                            <a href="#"                                                         class="m-l-10 m-r-10">Terms of use</a> | <a
                                href="#" class="m-l-10">Privacy Policy</a></span>
                </p>
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT -->
</div>