<div class="sidebar">


    <nav class="sidebar-nav ps">
        <ul class="nav">
            <li class="nav-item nav-dropdown active open">
                <a class="  nav-dropdown-toggle " href="#">
                   بهای تمام شده
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item ">
                        <a class="" ui-sref="cog_ca_automated_sums">
                            مرحله ۱ :
                            ساخت اولیه تسهیم
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="" ui-sref="cog_ca_davayere_tolidi">
                            مرحله ۲ :
                            محاسبه نهایی تسهیم
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="" ui-sref="cog_m_avalieh">
                            مرحله ۳ :
                           دریافت اطلاعات انبارها
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="" ui-sref="cog_m_riali_sazi_77_ebtedaye_doreh">
                            مرحله ۴ :
                           ریالی سازی ابتدای دوره ۷۷
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="" ui-sref="cog_m_gardeshe_77">
                            مرحله ۵ :
                           محاسبه ی گردش ۷۷
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="" ui-sref="cog_m_riali_sazi_88_ebtedaye_doreh">
                            مرحله ۶ :
                           ریالی سازی ابتدای دوره ۸۸
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="" ui-sref="cog_m_gardeshe_88">
                            مرحله ۷ :
                            محاسبه گردش ۸۸

                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="" ui-sref="cog_riali_sazi_ebtedaye_doreh_chaap">
                            مرحله ۸ :
                            ریالی سازی ابتدای دوره چاپ و لاک
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="" ui-sref="cog_gardesh_chaap">
                            مرحله ۹ :
                            محاسبه گردش چاپ و لاک
                        </a>
                    </li>



                    <li class="nav-item ">
                        <a class="" ui-sref="cog_gardesh_ghooti_ebtedaye_doreh">
                            مرحله ۱۰ :
                            ریالی سازی ابتدای دوره قوطی سازی
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="" ui-sref="cog_gardesh_ghooti">
                            مرحله ۱۱ :
                            محاسبه گردش قوطی سازی
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="" ui-sref="cog_gardesh_asaan_baz_shoo_ebtedaye_doreh">
                            مرحله ۱۲ :
                            ریالی سازی ابتدای دوره آسان باز شو
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="" ui-sref="cog_gardesh_asaan_baz_shoo">
                            مرحله ۱۳ :
                            محاسبه گردش آسان باز شو
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="" ui-sref="cog_ca_categorize">
                            تنظیمات
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>



{#    <nav class="sidebar-nav ps">#}
{#        <ul class="nav">#}
{#            <li class="nav-item nav-dropdown active open">#}
{#                <a class="  nav-dropdown-toggle " href="#">#}
{#                    Getting started#}
{#                </a>#}
{#                <ul class="nav-dropdown-items">#}
{#                    <li class="nav-item ">#}
{#                        <a class="" href="https://coreui.io/docs/getting-started/ui-kit/">#}
{#                            UI Kit#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item ">#}
{#                        <a class="" href="https://coreui.io/docs/getting-started/introduction/">#}
{#                            Introduction#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item active docs-sidenav-active open">#}
{#                        <a class=" active" href="https://coreui.io/docs/getting-started/browsers-devices/">#}
{#                            Browsers &amp; devices#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item ">#}
{#                        <a class="" href="https://coreui.io/docs/getting-started/javascript/">#}
{#                            JavaScript#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item ">#}
{#                        <a class="" href="https://coreui.io/docs/getting-started/build-tools/">#}
{#                            Build tools#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item ">#}
{#                        <a class="" href="https://coreui.io/docs/getting-started/webpack/">#}
{#                            Webpack#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item ">#}
{#                        <a class="" href="https://coreui.io/docs/getting-started/accessibility/">#}
{#                            Accessibility#}
{#                        </a>#}
{#                    </li>#}
{#                </ul>#}
{#            </li>#}
{#            <li class="nav-item  nav-dropdown  ">#}
{#                <a class="  nav-dropdown-toggle " href="#">#}
{#                    Layout#}
{#                </a>#}
{#                <ul class="nav-dropdown-items">#}
{#                    <li class="nav-item ">#}
{#                        <a class="" href="https://coreui.io/docs/layout/overview/">#}
{#                            Overview#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item ">#}
{#                        <a class="" href="https://coreui.io/docs/layout/grid/">#}
{#                            Grid#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item ">#}
{#                        <a class="" href="https://coreui.io/docs/layout/media-object/">#}
{#                            Media object#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item ">#}
{#                        <a class="" href="https://coreui.io/docs/layout/utilities-for-layout/">#}
{#                            Utilities for layout#}
{#                        </a>#}
{#                    </li>#}
{#                </ul>#}
{#            </li>#}
{#            <li class="nav-item  nav-dropdown  ">#}
{#                <a class="  nav-dropdown-toggle " href="#">#}
{#                    Content#}
{#                </a>#}
{#                <ul class="nav-dropdown-items">#}
{#                    <li class="nav-item ">#}
{#                        <a class="" href="https://coreui.io/docs/content/reboot/">#}
{#                            Reboot#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item ">#}
{#                        <a class="" href="https://coreui.io/docs/content/typography/">#}
{#                            Typography#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item ">#}
{#                        <a class="" href="https://coreui.io/docs/content/code/">#}
{#                            Code#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item ">#}
{#                        <a class="" href="https://coreui.io/docs/content/images/">#}
{#                            Images#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item ">#}
{#                        <a class="" href="https://coreui.io/docs/content/tables/">#}
{#                            Tables#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item ">#}
{#                        <a class="" href="https://coreui.io/docs/content/figures/">#}
{#                            Figures#}
{#                        </a>#}
{#                    </li>#}
{#                </ul>#}
{#            </li>#}
{#            <li class="nav-item  nav-dropdown  ">#}
{#                <a class="  nav-dropdown-toggle " href="#">#}
{#                    Components#}
{#                </a>#}
{#                <ul class="nav-dropdown-items">#}
{#                    <li class="nav-item ">#}
{#                        <a class="" href="https://coreui.io/docs/components/alerts/">#}
{#                            Alerts#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item ">#}
{#                        <a class="" href="https://coreui.io/docs/components/aside-menu/">#}
{#                            Aside menu#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item ">#}
{#                        <a class="" href="https://coreui.io/docs/components/badge/">#}
{#                            Badge#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item ">#}
{#                        <a class="" href="https://coreui.io/docs/components/breadcrumb/">#}
{#                            Breadcrumb#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item ">#}
{#                        <a class="" href="https://coreui.io/docs/components/md-buttons/">#}
{#                            md-buttons#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item ">#}
{#                        <a class="" href="https://coreui.io/docs/components/md-button-group/">#}
{#                            md-button group#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item ">#}
{#                        <a class="" href="https://coreui.io/docs/components/callout/">#}
{#                            Callout#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item ">#}
{#                        <a class="" href="https://coreui.io/docs/components/cards/">#}
{#                            Cards#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item ">#}
{#                        <a class="" href="https://coreui.io/docs/components/carousel/">#}
{#                            Carousel#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item ">#}
{#                        <a class="" href="https://coreui.io/docs/components/collapse/">#}
{#                            Collapse#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item ">#}
{#                        <a class="" href="https://coreui.io/docs/components/dropdowns/">#}
{#                            Dropdowns#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item ">#}
{#                        <a class="" href="https://coreui.io/docs/components/forms/">#}
{#                            Forms#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item ">#}
{#                        <a class="" href="https://coreui.io/docs/components/footer/">#}
{#                            Footer#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item ">#}
{#                        <a class="" href="https://coreui.io/docs/components/input-group/">#}
{#                            Input group#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item ">#}
{#                        <a class="" href="https://coreui.io/docs/components/jumbotron/">#}
{#                            Jumbotron#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item ">#}
{#                        <a class="" href="https://coreui.io/docs/components/list-group/">#}
{#                            List group#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item ">#}
{#                        <a class="" href="https://coreui.io/docs/components/loading-md-buttons/">#}
{#                            Loading md-buttons#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item ">#}
{#                        <a class="" href="https://coreui.io/docs/components/masked-input/">#}
{#                            Masked input#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item ">#}
{#                        <a class="" href="https://coreui.io/docs/components/modal/">#}
{#                            Modal#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item ">#}
{#                        <a class="" href="https://coreui.io/docs/components/navs/">#}
{#                            Navs#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item ">#}
{#                        <a class="" href="https://coreui.io/docs/components/navbar/">#}
{#                            Navbar#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item ">#}
{#                        <a class="" href="https://coreui.io/docs/components/pagination/">#}
{#                            Pagination#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item ">#}
{#                        <a class="" href="https://coreui.io/docs/components/popovers/">#}
{#                            Popovers#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item ">#}
{#                        <a class="" href="https://coreui.io/docs/components/progress/">#}
{#                            Progress#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item ">#}
{#                        <a class="" href="https://coreui.io/docs/components/scrollspy/">#}
{#                            Scrollspy#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item ">#}
{#                        <a class="" href="https://coreui.io/docs/components/sidebar/">#}
{#                            Sidebar#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item ">#}
{#                        <a class="" href="https://coreui.io/docs/components/sliders/">#}
{#                            Sliders#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item ">#}
{#                        <a class="" href="https://coreui.io/docs/components/spinners/">#}
{#                            Spinners#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item ">#}
{#                        <a class="" href="https://coreui.io/docs/components/switches/">#}
{#                            Switches#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item ">#}
{#                        <a class="" href="https://coreui.io/docs/components/tooltips/">#}
{#                            Tooltips#}
{#                        </a>#}
{#                    </li>#}
{#                </ul>#}
{#            </li>#}
{#            <li class="nav-item  ">#}
{#                <a class=" " href="https://coreui.io/docs/icons/">#}
{#                    Icons#}
{#                </a>#}
{#                <ul class="nav-dropdown-items">#}
{#                </ul>#}
{#            </li>#}
{#            <li class="nav-item  nav-dropdown  ">#}
{#                <a class="  nav-dropdown-toggle " href="#">#}
{#                    Utilities#}
{#                </a>#}
{#                <ul class="nav-dropdown-items">#}
{#                    <li class="nav-item ">#}
{#                        <a class="" href="https://coreui.io/docs/utilities/borders/">#}
{#                            Borders#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item ">#}
{#                        <a class="" href="https://coreui.io/docs/utilities/clearfix/">#}
{#                            Clearfix#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item ">#}
{#                        <a class="" href="https://coreui.io/docs/utilities/close-icon/">#}
{#                            Close icon#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item ">#}
{#                        <a class="" href="https://coreui.io/docs/utilities/colors/">#}
{#                            Colors#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item ">#}
{#                        <a class="" href="https://coreui.io/docs/utilities/display/">#}
{#                            Display#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item ">#}
{#                        <a class="" href="https://coreui.io/docs/utilities/embed/">#}
{#                            Embed#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item ">#}
{#                        <a class="" href="https://coreui.io/docs/utilities/flex/">#}
{#                            Flex#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item ">#}
{#                        <a class="" href="https://coreui.io/docs/utilities/float/">#}
{#                            Float#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item ">#}
{#                        <a class="" href="https://coreui.io/docs/utilities/image-replacement/">#}
{#                            Image replacement#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item ">#}
{#                        <a class="" href="https://coreui.io/docs/utilities/position/">#}
{#                            Position#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item ">#}
{#                        <a class="" href="https://coreui.io/docs/utilities/screenreaders/">#}
{#                            Screenreaders#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item ">#}
{#                        <a class="" href="https://coreui.io/docs/utilities/sizing/">#}
{#                            Sizing#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item ">#}
{#                        <a class="" href="https://coreui.io/docs/utilities/spacing/">#}
{#                            Spacing#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item ">#}
{#                        <a class="" href="https://coreui.io/docs/utilities/text/">#}
{#                            Text#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item ">#}
{#                        <a class="" href="https://coreui.io/docs/utilities/vertical-align/">#}
{#                            Vertical align#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item ">#}
{#                        <a class="" href="https://coreui.io/docs/utilities/visibility/">#}
{#                            Visibility#}
{#                        </a>#}
{#                    </li>#}
{#                </ul>#}
{#            </li>#}
{#            <li class="nav-item  ">#}
{#                <a class=" " href="https://coreui.io/docs/migration/">#}
{#                    Migration#}
{#                </a>#}
{#                <ul class="nav-dropdown-items">#}
{#                </ul>#}
{#            </li>#}
{#            <li class="nav-item  nav-dropdown  ">#}
{#                <a class="  nav-dropdown-toggle " href="#">#}
{#                    Admin Templates#}
{#                </a>#}
{#                <ul class="nav-dropdown-items">#}
{#                    <li class="nav-item ">#}
{#                        <a class="" href="https://coreui.io/docs/admin-templates/angular-admin/">#}
{#                            Angular Admin#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item ">#}
{#                        <a class="" href="https://coreui.io/docs/admin-templates/bootstrap-admin/">#}
{#                            Bootstrap Admin#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item ">#}
{#                        <a class="" href="https://coreui.io/docs/admin-templates/react-admin/">#}
{#                            React Admin#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item ">#}
{#                        <a class="" href="https://coreui.io/docs/admin-templates/vue-admin/">#}
{#                            Vue Admin#}
{#                        </a>#}
{#                    </li>#}
{#                </ul>#}
{#            </li>#}
{#            <li class="nav-item mt-auto">#}
{#                <a class=" -success" href="https://coreui.io" target="_top">#}
{#                    <i class="nav-icon cui-cloud-download"></i> Download CoreUI</a>#}
{#            </li>#}
{#            <li class="nav-item">#}
{#                <a class=" -danger" href="https://coreui.io/pro/" target="_top">#}
{#                    <i class="nav-icon cui-layers"></i> Try CoreUI#}
{#                    <strong>PRO</strong>#}
{#                </a>#}
{#            </li>#}
{#        </ul>#}
{#        <div class="ps__rail-x" style="left: 0px; bottom: 0px;">#}
{#            <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>#}
{#        </div>#}
{#        <div class="ps__rail-y" style="top: 0px; right: 0px;">#}
{#            <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div>#}
{#        </div>#}
{#    </nav>#}
</div>
