{% load translators %}

<div id="modal_select_recievers" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" dir="rtl" layout="row">
                <h4 class="modal-title">

                    تنظیمات ارسال
                </h4>

                <div flex=""></div>

                <md-button type="button" class="close md-raised" data-dismiss="modal">انصراف</md-button>

            </div>

            <div class="modal-body">
                <div layout="column">
                    <div layout-gt-md="row">
                        <md-input-container flex-gt-md="50">
                            <label for="">تاریخ ارسال</label>
                            <input type="text" style="direction: ltr" ng-model="SelOptionItem.desc.option.CurrentTime"
                                   ui-mask="9999/99/99 99:99" id="txtDatetimeOfSent">
                        </md-input-container>
                        <md-input-container flex-gt-md="30">
                            <label for="">الویت</label>
                            <md-select id="txtPriority" ng-model="SelOptionItem.desc.option.priority">
                                <md-option value>معمولی</md-option>
                                <md-option value="2">اقدام سریع</md-option>
                                <md-option value="3">اقدام خیلی سریع</md-option>
                                <md-option value="4">اقدام سریع و فوری</md-option>
                            </md-select>
                        </md-input-container>

                        <md-checkbox id="Option" type="checkbox" ng-model="SelOptionItem.desc.option.cc"
                                     ng-init="SelOptionItem.desc.option.cc = false">
                            ارسال مخفی

                        </md-checkbox>

                    </div>
                    <div layout-gt-md="row">
                        <md-input-container flex-gt-md="30">
                            <label for="">محرمانگی</label>
                            <md-select id="selectSecure" ng-model="SelOptionItem.desc.option.security">
                                <md-option value>معمولی</md-option>
                                <md-option value="2">محرمانه</md-option>
                                <md-option value="3">خیلی محرمانه</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container flex-gt-md="70">
                            <label for="">متن هامش</label>
                            <textarea id="txtaHamesh" ng-model="SelOptionItem.desc.option.hamesh"></textarea>
                        </md-input-container>


                    </div>


                    {#    <table class="tbl-compose-details" style="width: 100%">#}
                    {#        <tbody>#}
                    {#        <tr>#}
                    {#            <td>{{ 'Datetime of send'|translate }}</td>#}
                    {#            <td>{{ 'Priority'|translate }}</td>#}
                    {#            <td>{{ 'as CC'|translate }}</td>#}
                    {#        </tr>#}
                    {#        <tr>#}
                    {#            <td>#}
                    {#                <input style="direction: ltr"#}
                    {#                       ui-mask="9999/99/99 99:99"#}
                    {#                       ng-model="SelOptionItem.desc.option.CurrentTime"#}
                    {#                       type="text"#}
                    {#                       id="txtDatetimeOfSent"#}
                    {#                       class="spec">#}
                    {#            </td>#}
                    {#            <td><select id="txtPriority" ng-model="SelOptionItem.desc.option.priority">#}
                    {#                <option value>//"Usual"|translate}}</option>#}
                    {#                <option value="2">//"Fast"|translate}}</option>#}
                    {#                <option value="3">//"Very Fast"|translate}}</option>#}
                    {#                <option value="4">//"+Very Fast"|translate}}</option>#}
                    {#            </select></td>#}
                    {#            <td><input id="Option" type="checkbox" ng-model="SelOptionItem.desc.option.cc"#}
                    {#                       ng-init="SelOptionItem.desc.option.cc = false"></td>#}
                    {#        </tr>#}
                    {#        <tr>#}
                    {#            <td>{{ 'Security'|translate }}</td>#}
                    {#            <td colspan="2"> {{ 'Note'|translate }}#}
                    {#            </td>#}
                    {##}
                    {#        </tr>#}
                    {#        <tr>#}
                    {#            <td><select id="selectSecure" ng-model="SelOptionItem.desc.option.security">#}
                    {#                <option value>//"Usual"|translate}}</option>#}
                    {#                <option value="2">//"Secure"|translate}}</option>#}
                    {#                <option value="3">//"+Secure"|translate}}</option>#}
                    {#            </select></td>#}
                    {#            <td colspan="2"><textarea id="txtaHamesh"#}
                    {#                                      ng-model="SelOptionItem.desc.option.hamesh"#}
                    {#                                      style="width: 128px;"></textarea>#}
                    {#            </td>#}
                    {#        </tr>#}
                    {##}
                    {#        </tbody>#}
                    {#    </table>#}

                </div>
                <div layout="column" style="max-height: 100px; overflow-y:scroll">
                    <div style="font-size: 12px; font-weight: bold; border-bottom: 1px solid darkgrey; color: #0b2e13">
                        سوابق هامش
                    </div>
                    <div class="make-div-button"
                         ng-click="makehamesh(hamesh)"
                         ng-repeat="hamesh in hamesh_history track by $index"
                         style="padding: 3px; border-bottom: 1px solid darkgrey; font-size: 12px;">
                        //hamesh//
                    </div>

                </div>


            </div>


            <div class="modal-footer">

                <span flex></span>

                <md-button class="md-raised md-primary" ng-click="AcceptOption()">
                    ذخیره
                </md-button>
            </div>

        </div>


    </div>
</div>



