<fieldset>
    <div class="row">
        <section class="col col-6 well clickSection" id="secPicProfile" onclick="uploadImageClick()" style="font-size:18px;min-height: 300px; min-width: 200px;vertical-align: middle; text-align: center">
            <br>
            <br>
            <i class="fa fa-male fa-5x"></i><br>
            <span>
                جهت آپلود عکس خود بروی این قسمت کلیک کنید
            </span><br>
            <span>
                عکس شما میبایست کمتر از ۵۰۰ کیلوبایت باشد
            </span>


        </section>
        <section id="secResumeProfile" onclick="uploadResumeClick()" class="col col-6 well clickSection" style="font-size:18px;min-height: 300px; min-width: 200px;vertical-align: middle; text-align: center">
            <br>
            <br>
            <i class="fa  fa-file-o fa-5x"></i><br>
            چنانچه خواهان ضمیمه کردن فایل رزومه خود می باشید می توانید با کلیک بروی این قسمت
            رزومه ی خود را آپلود نمایید
            توجه داشته باشید آپلود نمودن رزومه ضروری نیست
        </section>
        <input type="file" id="filePicProfile"  accept="image/jpeg" style="display: none" name="nfilePicProfile">
        <input type="file" id="fileResume"  accept="image/jpeg" style="display: none" name="nfileResume">
    </div>
</fieldset>