<div id="modal_sec_newedit_companygroup" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">

                    ایجاد یا ویرایش گروه شرکت ها </h4>
            </div>
            <div class="modal-body">

                <div layout-padding>
                    <md-input-container>
                        <label>نام گروه</label>
                        <input type="text" ng-required="true" ng-model="CompanyGroup.name">
                    </md-input-container>
                </div>


            </div>
            <div class="modal-footer">
                <span flex></span>
                <md-button type="submit" ng-disabled="companyMngFrm.$invalid" class="md-raised md-primary"
                           data-dismiss="modal" ng-click="PostCompanyGroup()">ثبت
                </md-button>
                <md-button data-dismiss="modal" class="md-raised" ng-click="CancelCompanyGroup()">انصراف</md-button>
            </div>
        </div>
    </div>
</div>


<div>
</div>