alabaster==0.7.6
amqp==2.4.0
anyjson==0.3.3
appdirs==1.4.3
arrow==0.7.0
asq==1.0
attrs==18.1.0
# Babel==2.0
backports-abc==0.4
backports.functools-lru-cache==1.2.1
beautifulsoup4==4.4.0
billiard==3.5.0.5
bleach==1.4.2
bs4==0.0.1
cached-property==1.4.3
cairocffi==1.1.0
CairoSVG==2.4.2
celery==4.2.1
certifi==2019.11.28
cffi==1.12.3
chardet==3.0.4
coverage==4.0.1
cssselect2==0.2.2
dateutils==0.6.6
defusedxml==0.5.0
Django==1.8.3
django-angular==0.7.15
django-appconf==1.0.2
django-bootstrap3==6.2.2
django-bootstrap3-form==0.3.0
django-browserid==1.0.0
django-classy-tags==0.6.2
django-compressor==2.0
django-cors-headers==1.1.0
django-crispy-forms==1.6.0
django-el-pagination==2.1.1
django-filter==1.0.4
django-filters
django-http-proxy==0.4.3
django-modelcluster==1.1
django-mongodb-engine==0.6.0
django-pony-forms==0.3.9
django-related==0.0.6
django-rest-framework-mongoengine==2.0.2
django-sekizai==0.8.2
django-simple-captcha==0.4.6
django-taggit==0.18.1
django-treebeard==4.0
django-uuidfield==0.5.0
djangorestframework==3.1.3
djangotoolbox==1.8.0
docutils==0.12
drf-nested-routers==0.9.0
elasticsearch==5.4.0
elasticsearch-dsl==5.3.0
et-xmlfile==1.1.0
fcm-django==0.2.19
future==0.18.2
futures==3.0.5
geopy==1.11.0
gevent==1.4.0
goslate==1.5.1
greenlet==0.4.15
html5lib==0.9999999
httplib2==0.18.1
idna==2.8
img2pdf==0.3.6
isodate==0.6.0
Jinja2==2.8
kombu==4.2.2.post1
linecache2==1.0.0
# lxml==3.6.0
MarkupSafe==0.23
mergedeep==1.3.4
mockredispy==2.9.3
mongoengine==0.9.0
# Monotime
#mysqlclient==1.3.6
nose==1.3.7
numpy==1.13.3
oauthlib==1.0.1
odoo-connector-2==1.0.5
olefile==0.44
openpyxl==3.0.8
pandas==0.25.1
pdfminer.six==20170720
pdfminer2==20151206
pika==0.10.0
Pillow==4.1.1
pluggy==0.3.0
py==1.4.30
pycares==1.0.0
pycparser==2.19
pycryptodome==3.4.6
pyelasticsearch==1.4
pyfcm==1.4.5
pyfiglet==0.7.4
Pygments==2.0.2
pymongo==2.8
pymssql==2.1.5
#PyMySQL==0.7.1
PyPDF2==1.26.0
Pyphen==0.9.5
PySocks==1.5.6
python-barcode==0.11.0
python-bidi==0.4.0
python-dateutil==2.6.1
python-docx==0.8.5
python-memcached==1.57
python3-pika==0.9.14
pytz==2018.9
rcssmin==1.0.6
redis==3.1.0
requests==2.23.0
requests-oauthlib==0.5.0
requests-toolbelt==0.8.0
#rjsmin==1.0.12
selenium==3.141.0
simplejson==3.8.0
six==1.11.0
snowballstemmer==1.2.0
sorl-thumbnail==12.3
Sphinx==1.3.1
sphinx-rtd-theme==0.1.8
SpiffWorkflow==0.4
tapioca-disqus==0.1.2
tapioca-wrapper==0.5.3
tinycss2==1.0.2
tornado==4.3.0
# tornado-celery==0.3.5
tox==2.1.1
traceback2==1.4.0
translate==2.0.0
tweepy==3.3.0
Twisted==15.5.0
twitter==1.17.1
Unidecode==0.4.19
unittest2==1.1.0
urllib3==1.22
vine==1.2.0
virtualenv==13.1.0
wagtail==1.4.3
Wand==0.4.4
WeasyPrint
webencodings==0.5.1
Willow==0.3
wsaccel==0.6.2
xlrd==2.0.1
XlsxWriter==0.8.4
zeep==3.0.0
zope.interface==4.1.3
