{% load translators %}
<div ng-controller="LanguagesController">
    <div class="row well well-sm clearfix">
            <div class="form-group">
                <label for="usr">Search:</label>
                <input type="text" ng-model="search" class="form-control">
            </div>

    </div>
    <div class="row">
        <div class="well well-sm clearfix">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="usr">English:</label>
                    <input type="text" class="form-control" ng-model="new.en">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="usr">Farsi:</label>
                    <input type="text" class="form-control" ng-model="new.fa">
                </div>

            </div>
            <div class="col-md-1">
                <div class="form-group">
                    <label for="usr">Arabic:</label>
                    <input type="text" class="form-control" ng-model="new.ar">
                </div>

            </div>
            <div class="col-md-1">
                <div class="form-group">
                    <label for="usr">Kurdish:</label>
                    <input type="text" class="form-control" ng-model="new.kr">
                </div>

            </div>
            <div class="col-md-2">
                <div class="btn-groups">
                    <button type="button" classs="btn btn-default" ng-click="add(new)">add</button>
                </div>

            </div>

        </div>
        <div ng-repeat="item in items | filter:search" class="well well-sm clearfix">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="usr">English:</label>
                    <input type="text" class="form-control" ng-model="item.en">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="usr">Farsi:</label>
                    <input type="text" class="form-control" ng-model="item.fa">
                </div>

            </div>
            <div class="col-md-1">
                <div class="form-group">
                    <label for="usr">Arabic:</label>
                    <input type="text" class="form-control" ng-model="item.ar">
                </div>

            </div>
            <div class="col-md-1">
                <div class="form-group">
                    <label for="usr">Kurdish:</label>
                    <input type="text" class="form-control" ng-model="item.kr">
                </div>

            </div>
            <div class="col-md-2">
                <div class="btn-groups">
                    <button type="button" classs="btn btn-default" ng-click="update(item)">post</button>
                    <button type="button" classs="btn btn-default" ng-click="remove(item)">remove</button>
                </div>

            </div>
        </div>


    </div>

    {#{{ form.no.errors|striptags }}#}
</div>