{% load translators %}

<div layout-gt-sm="row" flex layout-align="start center">
    <md-input-container md-no-float class="md-icon-float md-block">
        <label>جستجو</label>
        <md-icon md-font-icon="fa fa-search"></md-icon>
        <input type="text" ng-model="{{ search_ng_model }}" ng-model-options="{debounce: 500}">
    </md-input-container>

    <span flex></span>
    <md-button>//{{ listname }}.count//</md-button>

    <md-button class="md-primary"
               ng-disabled="!({{ listname }}.next)"
               ng-click="{{ PageTo }}({{ listname }}.next)">
        <md-icon md-font-icon="fa fa-chevron-right"></md-icon>
    </md-button>
    <md-button class="md-primary"
               ng-disabled="!({{ listname }}.previous)"
               ng-click="{{ PageTo }}({{ listname }}.previous)">
        <md-icon md-font-icon="fa fa-chevron-left"></md-icon>
    </md-button>
</div>
