{% load translators %}

<div ng-controller="DMSUserInboxCtrl">
    <md-toolbar layout-gt-xs="row" class="md-hue-4">
        <div class="md-toolbar-tools">
            <span>مدیریت اسناد</span>
            <div flex></div>


        </div>
    </md-toolbar>

    <div class="shadower">

        asd
{#        <md-nav-bar#}
{#                md-selected-nav-item="currentNavItem"#}
{#                nav-bar-aria-label="navigation links">#}
{#            <md-nav-item md-nav-click="goto('page1')" name="page1">#}
{#                مرور و دانلود#}
{#            </md-nav-item>#}
{#            <md-nav-item md-nav-click="goto('page2')" name="page2">#}
{#مدیریت#}
{#            </md-nav-item>#}
{##}
{#        </md-nav-bar>#}
    </div>
</div>