<style>
    @media (max-height: 400px) {
        .mask-iframe {
            height: 400px;
            overflow-y: scroll;
        }
    }

    @media (max-height: 600px) {
        .mask-iframe {
            height: 548px;
        }
    }

    @media (max-height: 700px) {
        .mask-iframe {
            height: 548px;
        }
    }

    @media (max-height: 1200px) {
        .mask-iframe {
            height: 548px;
        }
    }

    @media (max-height: 1900px) {
        .mask-iframe {
            height: 548px;
        }
    }

    @media (max-height: 2500px) {
        .mask-iframe {
            height: 548px;
        }
    }
</style>


<div class="ui-mask" id="AvatarUploader" layout="row" layout-align="center center" style="display: none">
{#    <iframe#}
{#            class="mask-iframe"#}
{#            id="mask-iframe"#}
{#            src="/page/apps/imageUploadCrop/home/"#}
{#            frameborder="0"#}
{#            flex-gt-lg="40"#}
{#            flex-gt-sm="60"#}
{#            flex-gt-xs="70">#}
{##}
{#    </iframe>#}
</div>