{% load translators %}

<div id="modal_select_imported_positions" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">

                    انتخاب پرسنل
                </h4>
            </div>
            <form id="newChartFrm" name="newChartFrm">
                <div class="modal-body">
                    <h1 class="md-title">
                        لطفا یک یا چند پرسنل بعنوان دریافت کننده ی رونوشت را انتخاب نمایید
                    </h1>
                    <div ng-if="isLoading">
                        <md-progress-linear md-mode="indeterminate"></md-progress-linear>
                    </div>
                    <div>


                        {% load tables_tags %}
                        {% tablePaginationSimple main_model_name="Members" table_search_watch_model_name="MembersNewInpTableSearch" table_go_to_page_func_name="membersTableGoToPage" table_handle_pagination_func_name="HandleMembersTablePagination" table_info_model_name="TableMembers" %}

                        <table class="table mini">
                            <thead>
                            <tr>
                                <td>نام</td>
                                <td>سمت</td>
                                <td></td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in Members.results" ng-class-odd="'odd'" ng-class-even="'even'">
                                <td>
                                    //item.profileName//
                                </td>
                                <td>
                                    //item.chartName//
                                </td>
                                <td>
                                    <div class="btn-group btn-group-xs">
                                        <a ng-click="SelectPerson(item)">انتخاب</a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">انصراف</button>
                </div>
            </form>
        </div>

    </div>
</div>