{% load translators %}

<div ng-controller="ImportCtrl" class="sec">

    {% include "letter/Secretariat/Export/ModalImportedCompaniesList.html" %}
    {% include "letter/Secretariat/Export/ModalImportedPositionList.html" %}
    {% include "letter/Secretariat/Export/Import/wait_layer.html" %}


    <md-toolbar class="md-hue-1">
        <div class="md-toolbar-tools">
            ویرایش / ایجاد نامه وارده
        </div>
    </md-toolbar>

    <form id="frmImportNew" name="frmImportNew">
        <div class="shadower">

            <md-subheader class="md-no-sticky subheader-inbox">
                انتخاب ارسال کننده ی نامه
                <a  ng-click="OpenSelectCompanyModal()"> (تعیین / تغییر)</a>
            </md-subheader>
            <md-divider></md-divider>
            <div>
                <table class="table has-border">
                    <thead>
                    <tr>
                        <td>نام شرکت</td>
                        <td>نام گروه</td>
                        <td>نام شخص ارسال کننده</td>
                        <td></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in ImportLetter.exp.export.companyRecievers">
                        <td>
                            <input type="text" ng-model="item.name" ng-required/>
                        </td>
                        <td>//item.groupname//</td>
                        <td><input type="text" ng-model="item.recieverName" ng-required/></td>
                        <td>

                        </td>
                    </tr>



                    </tbody>
                </table>
            </div>


            <md-subheader class="md-no-sticky subheader-inbox">


                انتخاب دریافت کننده های رونوشت
                                <a  ng-click="OpenRecPositionModal()()"> (تعیین / تغییر)</a>


            </md-subheader>
            <md-divider></md-divider>
            <div>
                <table class="table has-border">
                    <thead>
                    <tr>
                        <td>نام دریافت کننده</td>
                        <td>متن هامش</td>
                        <td></td>
                    </thead>
                    </tr>
                    <tbody>
                    <tr ng-repeat="item in ImportLetter.exp.export.hameshRecievers track by $index">
                        <td>
                            //item.profileName//
                        </td>
                        <td>
                            <input type="text" ng-model="item.hamesh"/>
                        </td>
                        <td><a class="btn btn-default btn-xs fa fa-minus"
                               ng-click="RemoveMember($index)"></a></td>
                    </tr>


                    </tbody>
                </table>


            </div>

            <div layout="column">
                <div ng-if="ImportLetter.sign" class="row well well-sm" style="text-align:center;">
                    <img ng-src="//ImportLetter.sign.generatedFileAddr//" alt=""/>
                </div>
                <div layout-gt-md="row">
                    <md-input-container flex-gt-md="25">
                        <label for="">تاریخ دریافت</label>
                        <input type="text" ng-model="ImportLetter.exp.dateOfSent" ng-required="true"
                               ui-mask="9999/99/99" style="direction: ltr!important;"
                               model-view-value="true" id="txtDateStart">
                    </md-input-container>
                    <md-input-container flex-gt-md="25">
                        <label for="">ساعت دریافت</label>
                        <input type="text" ng-model="ImportLetter.exp.howtorec" ng-required="true" ui-mask="99:99"
                               dir="ltr"
                               model-view-value="true"
                               style="direction: ltr!important;">
                    </md-input-container>

                    <md-input-container flex-gt-md="25">
                        <label for="">شماره نامه</label>
                        <input type="text" ng-model="ImportLetter.exp.shomareh" ng-required="true">
                    </md-input-container>

                    <md-input-container flex-gt-md="25">
                        <label for="">تعداد ضمائم</label>
                        <input type="text" ng-model="ImportLetter.exp.attsCount" ng-required="true">
                    </md-input-container>
                </div>
                <div layout-gt-md="row">
                    <md-input-container flex-gt-md="20">
                        <label for="">شماره نامه مرتبط</label>
                        <input type="text" ng-model="ImportLetter.exp.relno" ng-required="true">
                    </md-input-container>
{#                    <md-input-container flex-gt-md="75">#}
{#                        <label for="">کلمات کلیدی جهت جستجو</label>#}
{#                        <input type="text" ng-model="ImportLetter.exp.exp" ng-required="true">#}
{#                    </md-input-container>#}
                    <md-contact-chips flex-gt-md="60"
                            ng-model="asyncContacts"
                            md-contacts="delayedQuerySearch($query)"
                            md-contact-name="name"
                            md-require-match="true"
                            md-highlight-flags="i"
                            filter-selected="filterSelected"
                            placeholder="کلمات کلیدی یا تگ">
                    </md-contact-chips>

                    <a ng-click="AddNewTag()" flex-gt-md layout-align="center center" layout="row">
                        (تگ جدید)
                    </a>
                </div>

                <div>
                    <md-input-container class="md-block">
                        <label for="">موضوع</label>
                        <input type="text" ng-model="ImportLetter.subject" ng-required="true">
                    </md-input-container>
                </div>
                <div>

                    <md-input-container class="md-block">
                        <label for="">خلاصه</label>
                        <textarea type="text" ng-model="ImportLetter.exp.bodysummery" ng-required="true"></textarea>
                    </md-input-container>
                </div>
            </div>


            <md-subheader class="md-no-sticky subheader-inbox">
                آپلود کاور نامه وارده
                <span>(ضروروی)</span>
            </md-subheader>
            <md-divider></md-divider>
            <div>
                {% load img_with_uploader_tags %}
                {% ImageWithUploader defaultEmptyAvatarUrl="/static/images/avatar_empty.png" modelName="ImportLetter.exp.cover" controllerName="ImportCtrl" imageContainerSize="col-md-4 profile-pic" imageContainerOtherCss="width: 200px;height: 250px;float:none;  background-color: #3e3e3e;" other="data-step='2' data-intro='upload your image'" %}

            </div>

            <md-subheader class="md-no-sticky subheader-inbox">
                آپلود سایر فایل های ضمیمه
            </md-subheader>
            <md-divider></md-divider>
            <div>
                {% load fileuploader_tags %}
                {% FileUploader width='100%' readonly="false" %}
            </div>


            <div class="panel panel-default panel-new-default">
                <div layout="column" ng-if="!Pending">

                    <div layout-gt-sm="row">

                    </div>

                    <div ng-repeat="itemxx in ImportLetter.attachments.fileAddr" class="well well-sm"
                         style="text-align: center; width: 100px; height: 125px; padding: 3px; margin: 3px; overflow: hidden; float: right">
                        <span class="content_right_head">//itemxx.imgInf.name//</span>
                        <br>
                        <img ng-src="//itemxx.imgLink//" style="width: 50px; height: 55px">
                        <br>
                        <small>
                            // itemxx.imgInf.size / 1024 | number:0//kb
                        </small>
                        <br>
                        <a ng-click="Download(itemxx.imgLink)">download</a>
                    </div>


                    <div>
                        <md-toolbar>
                            <div class="md-toolbar-tools">
                                <span flex></span>
                                <md-button
                                        type="button"
                                        ng-disabled="frmImportNew.$invalid"
                                        ng-if="!(ImportLetter.id)"
                                        class="md-raised"
                                        ng-click="Post()">
                                    ثبت
                                </md-button>
                            </div>
                        </md-toolbar>


                    </div>
                </div>


            </div>
        </div>

    </form>
</div>
