<div ng-controller="GardesheGhootiCtrl">

    <div class="spacer">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h4>محاسبه گردش قوطی
                </h4>
                <span flex></span>

                <md-button loading="در حال محاسبه ..."
                           notloading="مرحله اول : محاسبه گردش" disableonrequest
                           class="md-raised" ng-click="StartGardeshProcess()"></md-button>
            </div>
        </md-toolbar>
        <table id="divTable77" style="min-width: 3501px;font-size: 12px; text-align: center"
               dir="rtl"></table>

    </div>
{#    <div class="row">#}
{#        <div class="col-12">#}
{#            <div class="card">#}
{#                <div class="card-body">#}
{#                    <h1>محاسبه گردش قوطی</h1>#}
{##}
{##}
{#                    <nav class="navbar navbar-expand-lg navbar-light bg-light">#}
{#                        <a class="navbar-brand">عملیات</a>#}
{#                        <md-button class="navbar-toggler" type="md-button" data-toggle="collapse"#}
{#                                   data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"#}
{#                                   aria-expanded="false" aria-label="Toggle navigation">#}
{#                            <span class="navbar-toggler-icon"></span>#}
{#                        </md-button>#}
{#                        <div class="collapse navbar-collapse" id="navbarSupportedContent">#}
{#                            <ul class="navbar-nav mr-auto">#}
{#                                <li class="nav-item active">#}
{#                                    <md-button loading="در حال محاسبه ..."#}
{#                                               notloading="مرحله اول : محاسبه گردش" disableonrequest#}
{#                                               class="" ng-click="StartGardeshProcess()"></md-button>#}
{#                                </li>#}
{#                            </ul>#}
{#                        </div>#}
{##}
{#                    </nav>#}
{##}
{##}
{#                    <table id="divTable77" style="min-width: 3501px;font-size: 12px; text-align: center"#}
{#                           dir="rtl"></table>#}
{##}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{##}
{#    <div>#}
{#        <md-button class="btn btn-success" ng-click="StartGardeshProcess()">محاسبه گردش</md-button>#}
{#    </div>#}


</div>