{% load translators %}
<div    layout-gt-md="row"
        flex
        ng-controller="DoneProcessArchiveCtrl"
        id="DoneProcessArchiveCtrl">
    <div flex-gt-md="33" flex class="myInbox">
            <md-content>
                <md-toolbar class="md-hue-1">
                    <div class="md-toolbar-tools">
                        <h3>{{ 'filters'|translate }}</h3>
                        <span flex></span>
                    </div>
                </md-toolbar>
                <div style="padding: 5px 10px;">
                    <div layout="row">
                        <div flex-gt-md="45" flex>
                            <div class="form-group">
                                <input type="text" class="form-control underline"
                                       placeholder="{{ 'bpmn title...'|translate }}" ng-model="searchData.name"/>
                            </div>
                        </div>
                        <span flex></span>

                        <div flex-gt-md="45" flex>
                            <div class="form-group">
                                <input type="text" class="form-control underline"
                                       placeholder="{{ 'serach bpmn...'|translate }}" ng-model="searchData.bpmn"/>
                            </div>
                        </div>
                    </div>
                    <div layout="row">
                        <div flex-gt-md="45" flex>
                            <div class="form-group">
                                <input type="text" class="form-control underline"
                                       placeholder="{{ 'starter ...'|translate }}" ng-model="searchData.starter"/>
                            </div>
                        </div>
                        <span flex></span>

                        <div flex-gt-md="45" flex>
                            <div class="form-group">
                                <input type="text" class="form-control underline"
                                       placeholder="{{ 'recieve job form...'|translate }}"
                                       ng-model="searchData.receive"/>

                            </div>
                        </div>
                    </div>
                    <div layout="row">
                        <div flex-gt-md="45" flex>
                            <div class="form-group">
                                <input type="text" class="form-control underline"
                                       placeholder="{{ 'to date...'|translate }}" ng-model="searchData.toDate"/>
                            </div>
                        </div>
                        <span flex></span>

                        <div flex-gt-md="45" flex>
                            <div class="form-group">
                                <input type="text" class="form-control underline"
                                       placeholder="{{ 'from date...'|translate }}" ng-model="searchData.fromDate"/>
                            </div>
                        </div>
                    </div>
                </div>
            </md-content>


            <md-content style="margin-top: 25px;">
                <md-toolbar class="md-hue-1">
                    <div class="md-toolbar-tools">
                        <h3>{{ 'track done jobs'|translate}}</h3>
                        <span flex></span>
                    </div>
                </md-toolbar>
                <p ng-if="data.count==0" style="text-align: center;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 17px;
    color: #5cba5c;">شما کاری در بایگانی ندارید.</p>
                <md-list flex>
                    <md-list-item class="md-2-line"
                                  ng-class="{'active':item.id == selectedLunchedProcessId}"
                                  ng-repeat="item in data.results"
                                  ng-click="reviewMyProcess(item.id)">
                        <div class="md-list-item-text" layout="column">
                            <div layout="row">
                                <div flex="15">
                                    <img ng-src="//item.prevPerformer.avatar//" ng-if="item.prevPerformer.avatar"
                                         class="bpmn-prev-perfomer-avatar-img" title="ارجاع کننده">
                                    <img src="/static/images/text_document.png" ng-if="!item.prevPerformer.avatar"
                                         class="bpmn-prev-perfomer-avatar-img" title="ارجاع کننده"></div>
                                <div flex="85">
                                    <h3 layout-gt-sm="row" layout-align="start center">
                                        <span>//item.bpmnName//</span>

                                    </h3>
                                    <h4 tooltip="ارجاع کننده" layout-gt-md="row">
                                        <span ng-if="item.prevPerformer.name" flex-gt-md="70">//item.prevPerformer.name// - //item.prevPerformer.chartTitle// </span>
                                        <span ng-if="!item.prevPerformer.name" flex-gt-md="70">سیستم</span>
                                        {#                                    <span flex></span>#}
                                        <small tooltip="تاریخ آخرین دریافت کار" layout-align="end" flex-gt-md="30">
                                            (//::item.postDate | jalaliDateFromNow//)
                                        </small>
                                    </h4>

                                    <p title="عنوان فرایند">//item.name//</p>

                                </div>

                            </div>
                            <p layout="row" layout-align="start center">
                                <span tooltip="شروع کننده فرآیند" flex-gt-md="65">//item.positionName//<small
                                        tooltip="تاریخ شروع فرآیند">(//::item.startProcessDate | jalaliDateFromNow//)
                                </small></span>

                                <span flex></span>
                        <span >
                            <md-button
                                    ng-click="$event.stopPropagation();destroyDoneProcess(item);"
                                    class="md-icon-button click-enable md-warn">
                                <md-icon md-font-icon="fa fa-trash"></md-icon>
                                <md-tooltip>حذف فرآیند</md-tooltip>
                            </md-button>
                        </span>


                            </p>

                        </div>
                        <md-divider></md-divider>

                    </md-list-item>
                </md-list>
            </md-content>

    </div>
    <div flex-gt-md="65" flex ui-view></div>

</div>


