<div ng-controller="ForgetRegCtrl" class="doc-demo-content doc-content" style="    margin: 0 auto;
    border: 1px solid #d6d6d6;
    border-top: none;
    border-bottom: none;">

    <div style="    background-image: url(/static/images/forget.jpg);
    height: 200px;    background-size: cover;">

    </div>

    <div class="docs-demo">
        <h4>فراموشی رمز عبور</h4>
        <hr>
        <p>
            چنانچه کلمه عبور خود را فراموش کرده اید، شماره موبایل خود را وارد کنید تا کلمه عبور شما بصورت SMS برایتان ارسال گردد.


        </p>
        <section class="demo-container md-whiteframe-z1"
                 flex-gt-xs="90"
                 flex-gt-sm="60"
                 style="margin: 0 auto"
                 flex-gt-lg="40">
            <md-toolbar class="demo-toolbar md-primary">
                <h3 class="md-toolbar-tools"><a class="docs-anchor">فراموشی رمز عبور</a></h3>
            </md-toolbar>


            <md-content layout="column" id="contentReg" ng-show="!(waitingForSMS)">
                <form action="" name="forgetForm" id="forgetForm" ng-submit="sendForget($event)">
                    <div class="spacer"></div>
                    <md-input-container class="md-block">
                        <label for="">شماره موبایل</label>
                        <input type="text" required ng-model="forget.cellNo" name="cellNo" dir="ltr" minlength="9"
                               maxlength="13">
                        <div class="hint" dir="ltr">
                            <span>مثال : </span>
                            <span dir="ltr" style="direction: ltr">0912****</span>
                            <span>لطفا شماره موبایل را با کد کشور وارد نمایید</span>
                        </div>

                    </md-input-container>

                    <div layout-gt-xs="row" class="captcha-container"
                         layout-align="start center">
                        {{ form.captcha }}
                        <md-button class="md-raised md-default" ng-click="refreshCaptcha()">
                            تغییر عکس
                        </md-button>
                    </div>

                    <div ng-show="err.details" class="reg-error">
                        //err.details//
                    </div>

                    <div class="divider"></div>
                    <div layout="row">
                        <span flex></span>
                        <md-button
                                ng-disabled="forgetForm.$invalid"
                                id="btn-forgetpass"
                                class="md-raised md-primary" type="submit">
                            ارسال کد پیگیری
                        </md-button>
                    </div>


                </form>
            </md-content>

            <md-content layout="column" id="contentVerCode" ng-show="waitingForSMS">
                <form action="" name="forgetVerCodeForm" id="forgetVerCodeForm" ng-submit="sendVerfForget($event)">
                    <div class="spacer"></div>
                    <h3 class="md-toolbar-tools">کد دریافت شده در تلفن همراه خود را وارد نمایید</h3>
                    <div class="spacer"></div>
                    <md-input-container class="md-block">
                        <label for="">کد دریافت شده</label>
                        <input type="password"
                               required
                               ng-model="verfCode.code"
                               name="cellNo"
                               dir="ltr"
                               minlength="6"
                               maxlength="6">
                    </md-input-container>
                    <div ng-show="err.details" class="reg-error">
                        //err.details//
                    </div>
                    <div class="divider"></div>
                    <div layout="row">
                        <span flex></span>
                        <md-button
                                ng-disabled="forgetVerCodeForm.$invalid"
                                id="btn-forgetVerfCodepass"
                                class="md-raised md-primary" type="submit">
                            تایید و تغییر رمز ورود
                        </md-button>
                    </div>

                </form>

            </md-content>

        </section>
    </div>
</div>