<div ng-controller="RialSazi85Ctrl">
    <div class="spacer">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h4>گردش ۸۵

                </h4>
                <span flex></span>

                <md-button loading="در حال محاسبه ..."
                           notloading="محاسبه گردش ..." disableonrequest
                           class="md-raised" ng-click="StartGardeshProcess()"></md-button>


            </div>
        </md-toolbar>


{#        <div class="alert alert-danger" ng-show="bugs.length > 0" style="overflow: scroll">#}
        <div class="alert alert-danger" ng-show="false" style="overflow: scroll">
            <table style="width: 100%; font-size: 12px; background-color: white"
                   class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>کد کالا</th>
                    <th>کد ارتباطی</th>
                    <th>نوع ارور</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in bugs">
                    <td>//item.coil77//</td>
                    <td>//item.link//</td>
                    <td>//item.bug_reason//</td>
                </tr>
                </tbody>

            </table>
        </div>

        <table id="divTable85" style="min-width: 3501px;font-size: 12px; text-align: center"
               dir="rtl"></table>


    </div>


    {#</table>#}


</div>