<div ng-controller="HavalehForooshCtrl">
    <md-toolbar class="md-menu-toolbar">
        <div layout="row">
            <md-toolbar-filler layout layout-align="center center">
                <md-icon md-font-icon="fa fa-paste"></md-icon>
            </md-toolbar-filler>

            <div flex>
                <h2 class="md-toolbar-tools">کارتابل حواله های فروش</h2>
            </div>


        </div>
        <div style="padding: 12px; font-size: 12px;">
            به دستور مدیرعامل محترم
            مقرر گردید تمامی کامنت ها و دستورات تولید زمانی معتبر است که
            دکمه تایید آن توسط کارشناسان تولید زده شده باشد و همچنین پس از ارسال به تولید دکمه
            اقدام به تولید نیز تایید شده باشد

        </div>




        <div style="padding: 12px; font-size: 12px;" layout="row" layout-align="start center">

            {#            <md-checkbox style="margin-left: 15px;" ng-model="showArchive">منتظر امضای من را نم</md-checkbox>#}

            <input flex type="text" ng-model="searchStr"
                   ng-model-options="{debounce: 500}"
                   placeholder="جستجو در تمام فیلدهای حواله تحویل فروش"
                   style=" height: 30px; font-size: 14px; padding: 3px;">
        </div>

        <div style="padding: 12px; font-size: 12px;" layout="row">
            <span></span>

            <md-button ng-disabled="loading_progress" class="md-icon-button md-raised" ng-if="havales.first"
                       ng-click="gotopage(havales.first)">
                <md-icon md-font-icon="fa fa-angle-double-right">

                </md-icon>
            </md-button>
            <md-button ng-disabled="loading_progress" class="md-icon-button md-raised" ng-if="havales.prev"
                       ng-click="gotopage(havales.prev)">
                <md-icon md-font-icon="fa fa-angle-right">

                </md-icon>
            </md-button>
            <md-button ng-disabled="loading_progress" class="md-icon-button md-raised" ng-if="havales.next"
                       ng-click="gotopage(havales.next)">
                <md-icon md-font-icon="fa fa-angle-left">

                </md-icon>
            </md-button>
            <md-button ng-disabled="loading_progress" class="md-icon-button md-raised" ng-if="havales.last"
                       ng-click="gotopage(havales.last)">
                <md-icon md-font-icon="fa fa-angle-double-left">

                </md-icon>

            </md-button>
        </div>


    </md-toolbar>


    <div class="panel">

        <div class="panel-content pagination2 table-responsive" layout="column">
            <md-progress-linear md-mode="indeterminate" ng-if="loading_progress"></md-progress-linear>


            <div layout-gt-sm="row" layout-padding="" style="background-color: cadetblue;color: white;">
                <div flex-gt-xs="">وضعیت</div>

                <div flex-gt-xs="">حواله</div>
                <div flex-gt-xs="">مشتری</div>
                <div flex-gt-xs="">صدور</div>
                <div flex-gt-xs="">کیلو - سفارش</div>
            </div>

            <div
                    ng-repeat="item in havales.results"
                    ng-click=""
                    layout-padding=""
                    ui-sref="HavalehForooshDetails({hfdid:item._id})"
                    ng-class-odd="'odd'"
                    ng-class-even="'even'">

                <div layout-gt-xs="row">
                    <div flex-gt-xs="">
                        <span ng-if="item.commentCount != 0">

                            <i class="fa fa-arrow-circle-left" style="color: red" tooltip="منتظر امضای من " ng-if="item.waiting_for_me"></i></span>

                        //item.vaziat//
                    </div>

                    <div flex-gt-xs="">//item.Number//</div>
                    <div flex-gt-xs="">//item.customerName//</div>
                    <div flex-gt-xs="">//item.tarikheSodoor | jalaliDate:'jYYYY/jMM/jDD'//</div>
                    <div flex-gt-xs="">//item.mizanAvaliehSefaresh | number//</div>
                </div>


            </div>

        </div>


    </div>


    <style>
        .h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, .h4 .small, .h4 small, .h5 .small, .h5 small, .h6 .small, .h6 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small, h4 .small, h4 small, h5 .small, h5 small, h6 .small, h6 small {
            font-family: Yekan, RobotoDraft, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif !important;
        }
    </style>

</div>