{% load translators %}

<div class="left-inbox-items">
    <md-content>


        <ul class="side-menu letter-inbox-sidebar">
            <li style="font-size: 11px; text-align: center; padding-bottom: 12px; padding-top: 12px;">از
                //saleMali[8]//
                تا
                //saleMali[9]//
            </li>


            <li>
                <md-button ui-sref="cog_report_check" ui-sref-active="this-menu-selected">کنترل</md-button>
            </li>
            <li>
                <md-button ui-sref="cog_ca_home" ui-sref-active="this-menu-selected">تسهیم</md-button>
            </li>

            <li>
                <md-button ui-sref="cog_m_avalieh" ui-sref-active="this-menu-selected">انبارها</md-button>
            </li>
            <li>
                <md-button ui-sref="cog_barnamerizi" ui-sref-active="this-menu-selected">فایل برنامه ریزی</md-button>
            </li>
            <li>
                <md-button ui-sref="cog_m_77_base" ui-sref-active="this-menu-selected">کویل قلع</md-button>
            </li>
            <li>
                <md-button ui-sref="cog_m_88_base" ui-sref-active="this-menu-selected">برش خورده</md-button>
            </li>
            <li>
                <md-button ui-sref="cog_75_base" ui-sref-active="this-menu-selected">خدمات قلع</md-button>
            </li>
            <li>
                <md-button ui-sref="cog_85_base" ui-sref-active="this-menu-selected">خدمات برش</md-button>
            </li>
            <li>
                <md-button ui-sref="cog_89_base" ui-sref-active="this-menu-selected">چاپ و لاک</md-button>
            </li>
            <li>
                <md-button ui-sref="cog_ghooti_base" ui-sref-active="this-menu-selected">قوطی سازی</md-button>
            </li>
            <li>
                <md-button ui-sref="cog_base_asaan_baz_shoo" ui-sref-active="this-menu-selected">آسان باز شو</md-button>
            </li>
            <li>
                <md-button ui-sref="cog_report" ui-sref-active="this-menu-selected">گزارش</md-button>
            </li>
            <li>
                <md-button ui-sref="cog_ca_categorize" ui-sref-active="this-menu-selected">تنظیم</md-button>
            </li>
            <li>
                <md-button ui-sref="cog_salemali" ui-sref-active="this-menu-selected">مدیریت دوره های مالی</md-button>
            </li>

        </ul>


    </md-content>
</div>
