<div ng-controller="homeCtrl">
    <div layout="row" layout-align="center center"
         style="
         background-position: 50% 100%;
         background-image: url('/static/images/Untitled-5.jpg');
         background-size:cover;
         height:250px;
         width:100%;
         -webkit-tap-highlight-color:rgba(0, 0, 0, 0);">
        {#        <div style="    background-color: rgba(35, 34, 34, 0.78);#}
        {#    padding: 15px;#}
        {#    font-size: 17px;#}
        {#    color: wheat;">#}
        {#            لطفا متن زیر را بدقت مطالعه نمایید#}
        {##}
        {#        </div>#}
    </div>
    <md-content style="    background-color: white;
    /* border-radius: 12px; */
    padding: 14px;
    border: 1px solid #cacaca;
    border-top: none;">
        <div style="text-align: center">

            <md-button class="md-button md-raised md-primary" ng-click="StartIt($event)">
                ورود به مرحله اول
            </md-button>
            {#            <md-button class="md-button md-raised md-primary" ng-click="CreateIt($event)">#}
            {#                create supp#}
            {#            </md-button>#}
        </div>
        {#        <div>#}
        {##}
        {##}
        {#            <h5>حفظ اسرار تجاری</h5>#}
        {#            <hr>#}
        {#            <p>#}
        {#                تمامی اطلاعات ارسال شده توسط شما فقط بوسیله ی کارشناسان ما مورد استفاده قرار میگیرد و به هیچ عنوان به#}
        {#                طرف#}
        {#                دیگری ارائه نمی شود. لذا این شرکت به شما اطمینان می دهد#}
        {#                هیچ گونه استفاده ای به غیر از ارزیابی تامین کنندگان و همکاری با آنها ننماید#}
        {##}
        {#            </p>#}
        {##}
        {#            <h5>راهنمایی</h5>#}
        {#            <hr>#}
        {#            <p>#}
        {##}
        {#            </p>#}
        {##}
        {#            <h5>تعریف کد همکاری </h5>#}
        {#            <hr>#}
        {#            <p>#}
        {#                به شرکت ها و **** هایی که اطلاعات خود را در سامانه ثبت می نمایند جهت پیگیر های آتی یک شناسه پیگیر#}
        {#                اختصاص#}
        {#                می یابد . پس از ارزیابی عمومی و فنی در صورت کسب امتیازات لازم جهت همکاری به هر تامین کننده یک شناسه#}
        {#                تامین#}
        {#                اختصاص می یابد.#}
        {#            </p>#}
        {#            <h5>انواع همکاری با **** ****</h5>#}
        {#            <hr>#}
        {#            <p>در **** **** چهار گروه بعنوان همکار در نظر گرفته می شوند#}
        {#            </p>#}
        {#            <ul style="list-style: arabic-indic;">#}
        {#                انواع همکاران :#}
        {#                <li>فروشندگان</li>#}
        {#                <li>ارایه دهندگان خدمات</li>#}
        {#                <li>سازنده</li>#}
        {#                <li>همکاری و استخدام</li>#}
        {#            </ul>#}
        {#            <p>#}
        {#                کارشناسان تامین و مامورین خرید در شرکت **** **** می بایست فقط از همکارنی خرید کنند که اطلاعات آنها#}
        {#                در#}
        {#                سامانه ثبت می شود.#}
        {#                همچنین همکاران منابع انسانی شرکت نیز تنها با افرادی همکاری می کنند که در این سامانه ثبت نام کنند.#}
        {#            </p>#}
        {##}
        {#            <h5>فروشندگان و اطلاعات مورد نیاز</h5>#}
        {#            <hr>#}
        {#            <p>#}
        {#                <strong>تعریف فروشندگان :</strong>#}
        {#                تأمین‌کننده‌ای كه بخشی از اقلام مورد نیاز را به شرکت می‌فروشد و رابطة او با شرکت در حد رابطه‌ای بازرگانی#}
        {#                است. معمولاً شرکت با فروشندگان دربارة فرآیندهای تولیدِ اقلام تأمین‌شده، تعامل ندارد.#}
        {#            </p>#}
        {#            <ul>#}
        {#                مدارک مورد نیاز#}
        {#                <li> پروانه کسب</li>#}
        {#                <li> کارت ملی</li>#}
        {#                <li> کپی گواهینامه ثبت نام در نظام مالیات بر ارزش افزوده</li>#}
        {#                <li> آگهی تاسیس</li>#}
        {#                <li> آخرین آگهی تغییرات</li>#}
        {#                <li> روزنامه رسمی</li>#}
        {#                <li> اظهار نامه تاسیس</li>#}
        {#                <li> بروشور ، کاتالوگ و یا سایر مشخصات فنی</li>#}
        {#                <li> ارائه مستندات لازم در زمینه رضایت مشتریات پیشین</li>#}
        {#            </ul>#}
        {##}
        {#            <h5>ارایه دهندگان خدمات و اطلاعات مورد نیاز</h5>#}
        {#            <hr>#}
        {#            <p>#}
        {#                <strong>تعریف ارایه دهندگان خدمات :</strong>#}
        {#                تأمین‌کننده‌ای كه بخشی از خدمات مورد نیاز شرکت را ارائه می‌دهد؛ مانند خدمات آزمایشگاهی، خدمات مشاورة فنی#}
        {#                و#}
        {#                مدیریتی، خدمات نرم‌افزاری، حمل‌ونقل، سرویس و نگه‌داری و…#}
        {#                <br>#}
        {##}
        {#            </p>#}
        {#            <ul>مدارک مورد نیاز#}
        {#                <li> کارت ملی</li>#}
        {#                <li> کپی گواهینامه ثبت نام در نظام مالیات بر ارزش افزوده</li>#}
        {#                <li> آگهی تاسیس</li>#}
        {#                <li> آخرین آگهی تغییرات</li>#}
        {#                <li> روزنامه رسمی</li>#}
        {#                <li> اظهار نامه تاسیس</li>#}
        {#                <li> ارائه مستندات دال بر دارا بودن حق امتیاز ، لیسانس و نمایندگی</li>#}
        {#                <li> نمودار ****ی، آخرین لیست بیمه، مدارك تحصیلی و سایر مستندات مربوط به كاركنان كلیدی</li>#}
        {#                <li> در صورت دارا بودن ارائه استاندارد های ****ی ، نظامنامه یا گواهی نامه های مدیریت</li>#}
        {#                <li> ارائه سابقه قراردادهای قبلی طی سه سال گذشته</li>#}
        {#            </ul>#}
        {#            <h5>سازندگان و اطلاعات مورد نیاز</h5>#}
        {#            <hr>#}
        {#            <p>#}
        {#                <strong>تعریف سازنده :</strong>#}
        {#                تأمین‌کننده‌ای كه مستقیماً تولید بخشی از اقلام ورودی شرکت، یا انجام بخشی از فرایند‌های تولید محصولات را#}
        {#                به‌عهده دارد.#}
        {#                <br>#}
        {#            </p>#}
        {#            <ul>مدارک مورد نیاز#}
        {#                <li> کپی گواهینامه ثبت نام در نظام مالیات بر ارزش افزوده</li>#}
        {#                <li> آگهی تاسیس</li>#}
        {#                <li> آخرین آگهی تغییرات</li>#}
        {#                <li> روزنامه رسمی</li>#}
        {#                <li> اساسنامه و پروانه بهره برداری</li>#}
        {#                <li> اظهار نامه تاسیس</li>#}
        {#                <li> در صورت دارا بودن هرگونه نمایندگی ، تاییدیه از شرکت های اصلی و یا هر گونه مجوز فعالیت و پروانه کار#}
        {#                    از وزراتخانه ها ، موسسات ، اتحادیه ها و ... مدارک مربوطه را پیوست نمایید.#}
        {#                </li>#}
        {#                <li> سابقه قرار دادهای قبلی طی سه سال گذشته.</li>#}
        {#            </ul>#}
        {#            <h5>همکاری و استخدام و اطلاعات مورد نیاز</h5>#}
        {#            <hr>#}
        {#            <p>#}
        {#                <strong>جویندگان کار :</strong>#}
        {#                در حال تکمیل#}
        {#                <br>#}
        {#                <strong>مدارک مورد نیاز</strong>#}
        {#            </p>#}
        {#        </div>#}
        {#        <div layout="row" layout-align="center center">#}
        {#            <md-button class="md-button md-raised md-primary" ng-click="StartIt($event)">#}
        {#ورود به مرحله اول#}
        {#            </md-button>#}
        {#        </div>#}
    </md-content>
</div>