{% load staticfiles %}

<script src={% static "Dashboards/Supplement/bower/bower_components/angular/angular.min.js" %}></script>
<script src={% static "Dashboards/Supplement/bower/bower_components/angular-aria/angular-aria.min.js" %}></script>
<script src={% static "Dashboards/Supplement/bower/bower_components/angular-animate/angular-animate.min.js" %}></script>
<script src={% static "Dashboards/Supplement/bower/bower_components/angular-messages/angular-messages.min.js" %}></script>
<script src={% static "Dashboards/Supplement/bower/bower_components/angular-ui-router/release/angular-ui-router.min.js" %}></script>
<script src={% static "Dashboards/Supplement/bower/bower_components/angular-material/angular-material.min.js" %}></script>
<script src={% static "Dashboards/Supplement/bower/bower_components/angular-material-icons/angular-material-icons.min.js" %}></script>
<script src={% static "Dashboards/Supplement/bower/bower_components/angular-material-icons/svg-morpheus.js" %}></script>
<script src={% static "Dashboards/Supplement/bower/bower_components/angular-file-upload/dist/angular-file-upload.min.js" %}></script>
<script src={% static "Dashboards/Supplement/bower/bower_components/angular-ui-mask/dist/mask.min.js" %}></script>
<script src={% static "bower_components/ocLazyLoad/ocLazyLoad.min.js" %}></script>

<script src={% static "Dashboards/Supplement/app.js" %}></script>
<script src={% static "Dashboards/Supplement/AppCtrl.js" %}></script>
<script src={% static "Dashboards/Supplement/navCtrl.js" %}></script>

