<md-dialog aria-label="Mango (Fruit)">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Mango (Fruit)</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-font-icon="fa fa-close" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <div>
                    <md-input-container>
                        <label for="">جستجو</label>
                        <input type="text" ng-model="searchCatList">
                    </md-input-container>
                </div>
                {#                <div ng-repeat="parent in cats.data" style="font-size: 12px;">#}
                <div ng-repeat="item in cats.data | filter:{name:searchCatList}" ng-click="selectIt(item)"
                     style="    border: 1px solid #bbbbbb;    padding: 3px;    border-radius: 5px;    margin-bottom: 3px; font-size: 12px;">
                    //item.parent_name// - //item.name//
                </div>


            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">

            <span flex></span>
            <md-button ng-click="answer('not useful')">
                انصراف
            </md-button>
            <md-button ng-click="answer('useful')">
                تایید
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>