<h4>گواهینامه های استاندارد محصولات </h4>
<hr>
<div>
    <div layout="column">


        <form action="" name="form_frm23">
            <div layout-gt-xs="row">
                <div flex-gt-xs="">
                    <md-input-container class="md-block">
                        <label for="">شرح گواهی نامه</label>
                        <input type="text" ng-model="provider.frm23.sharh" required>
                    </md-input-container>
                </div>
                <div flex-gt-xs="3"></div>
                <div flex-gt-xs="">
                    <md-input-container class="md-block">
                        <label for="">اعطا کننده</label>
                        <input type="text" ng-model="provider.frm23.eta">
                    </md-input-container>
                </div>
                <div flex-gt-xs="3"></div>
                <div flex-gt-xs="">
                    <md-input-container class="md-block">
                        <label for="">ملی/بین المللی</label>
                        <input type="text" ng-model="provider.frm23.bein">
                    </md-input-container>
                </div>


            </div>
            <div layout-gt-xs="row">
                <div flex-gt-xs="">
                    <md-input-container class="md-block">
                        <label for="">تاریخ دریافت</label>
                        <input type="text" ng-model="provider.frm23.dary"                                ui-mask="9999/99/99" dir="ltr"
required>
                    </md-input-container>
                </div>

                <div flex-gt-xs="">
                    <md-input-container class="md-block">
                        <label for="">تاریخ انقضا</label>
                        <input type="text" ng-model="provider.frm23.enq" required>
                    </md-input-container>
                </div>

            </div>


            <div layout-gt-xs="row">
                <span flex></span>
                <md-button ng-click="addTofrm('23')"
                           ng-disabled="form_frm23.$invalid"
                           class="md-raised md-default">
                    اضافه به لیست
                </md-button>
            </div>

        </form>

        <div>
            <table class="sp-table table table-bordered">
                <thead>
                <tr>
                    <th>شرح</th>
                    <th>اعطا کننده</th>
                    <th>ملی/بین المللی</th>
                    <th>تاریخ دریافت</th>
                    <th>تاریخ انقضا</th>
                    <th>عملیات</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="it in provider.frm23_list">
                    <td>//it.sharh//</td>
                    <td>//it.eta//</td>
                    <td>//it.bein//</td>
                    <td>//it.dary//</td>
                    <td>//it.enq//</td>
                    <td>
                    {% include "Dashboards/Supplement/Registration/Supply/fileViewTdTable.html" with nm="it" %}
                    <a ng-click="removefrm('7',$index)">حذف</a>
                    </td>
                </tr>


                <tr ng-if="provider.frm23_list.length == 0">
                    <td colspan="6">
                        لیست خالی است
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

    </div>
        <div>
        <ul>توضیحات : ارائه کپی مدارک الزامی می باشد. در صورت دارا بودن سایر مدارک و توضیحات مرتبط لطفا پیوست ها را آپلود نمایید
            {% include "Dashboards/Supplement/Registration/Supply/miniUploadBtn.html" with form='23' inputid='1' label="ضمائم" %}
        </ul>
    </div>

            {% include "Dashboards/Supplement/Registration/Supply/save.html" with frmname="frm_frm23" %}

</div>