<md-dialog aria-label="مرور">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>مرور فایل</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <div ng-repeat="item in imageToPrev" class="img-view-files">
                    <a href="/api/v1/file/upload?q=//item.name//">
                        <img ng-src="/api/v1/file/upload?q=thmum200_//item.name//"
                             alt="//item.name//" style="height: 200px;"></a>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-primary md-raised" ng-click="answer('ok')">
                تایید
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>