{% load translators %}

{#<div >#}
{#    المان های شما#}
{#</div>#}
{#<div class="fg-edit-palette c-toolb">#}
{##}
{#    <h4 ng-if="!processObjs">{{ "No form element"|translate }}</h4>#}
{##}
{#    <div ng-repeat="template in processObjs track by $index " class="fg-field ng-scope proc-items"#}
{#         dq-draggable="fg-edit-canvas"#}
{#         dq-drag-begin="{ source: 'objectPalette', field: template }"#}
{#         draggable="true"#}
{##}
{#    >#}
{#        <div class="fg-field-overlay">#}
            {#                    <div class="btn-toolbar btn-toolbar-right">#}
{#            <i class="fa fa-trash btn-rec" style="    color: #de6764;float: left;margin: 9px;font-size: 14px"#}
{#               ng-click="removeProcessObj($index)" title="Remove"></i>#}
{#            <i class="fa fa-pencil btn-rec"#}
{#               style="color: #008b0f;float: left;margin: 10px;font-size: 14px;margin-left: 0px;"#}
{#               ng-click="editPO($index)" title="edit"></i>#}
{#            <i class="fa fa-info btn-rec"#}
{#               style="color: #008b0f;float: left;margin: 10px;font-size: 14px;margin-left: 0px;"#}
{#               ng-click="toggleVisibleProcessObj($event)" title="info"></i>#}
            {#                    </div>#}
{#        </div>#}
{#        <div class="fg-field-inner form-group ng-isolate-scope"#}
{#             ng-class="{ 'fg-field-required': fieldSchema.validation.required, 'has-error': form.state[field.name].$invalid }"#}
{#             fg-field="template" fg-tab-index="-1" fg-no-validation-summary="true"#}
{#        >#}
{#        </div>#}
{#    </div>#}
{##}
{##}
{#</div>#}