{% load translators %}

    <div class="row" id="alert-box">

    </div>
    <div class="row">
{#        <div class="signup-box pull-right">#}
{#<h4><span>{{ 'Signup Moiran!'|translate}}</span> {{ 'its free'|translate}} </h4>#}
{#            <form role="form" ng-submit="vm.register()">#}
{#                {% csrf_token %}#}
{#                <div class="form-content">#}
{#                    <div class="form-group">#}
{#                        <input type="text" class="form-control input-underline" id="register__username"#}
{#                               ng-model="vm.username" placeholder=" {{ "username" | translate }}">#}
{##}
{#                        <div class="alert alert-warning   alert-dismissable " role="alert" style="margin: 0;padding-top: 0;padding-bottom: 0;"#}
{#                             ng-repeat="(key,val) in errors" ng-if="key == 'username'">#}
{##}
{#                            <p ng-repeat="a in val" style="font-size:14px;margin:0;">//a//</p></div>#}
{#                    </div>#}
{##}
{#                    <div class="form-group">#}
{#                        <input type="email" class="form-control input-underline" id="register__email"#}
{#                               ng-model="vm.email" placeholder="{{ "email" | translate }}">#}
{##}
{#                        <div class="alert alert-warning   alert-dismissable " role="alert" style="margin: 0;padding-top: 0;padding-bottom: 0;"#}
{#                             ng-repeat="(key,val) in errors" ng-if="key == 'email'">#}
{##}
{#                            <p ng-repeat="a in val" style="font-size:14px;margin:0;">//a//</p></div>#}
{#                    </div>#}
{##}
{#                    <div class="form-group">#}
{#                        <input type="password" class="form-control input-underline" id="register__password"#}
{#                               ng-model="vm.password" placeholder="{{ "password" | translate }}">#}
{##}
{#                        <div class="alert alert-warning   alert-dismissable " role="alert" style="margin: 0;padding-top: 0;padding-bottom: 0;"#}
{#                             ng-repeat="(key,val) in errors" ng-if="key == 'password'">#}
{##}
{#                            <p ng-repeat="a in val" style="font-size:14px;margin:0;">//a//</p></div>#}
{#                    </div>#}
{#                    <div class="form-group">#}
{#                        <input type="password" class="form-control input-underline" id="register__password"#}
{#                               ng-model="vm.password2" placeholder="{{ "repeatpass" | translate }}">#}
{##}
{#                        <div class="alert alert-warning   alert-dismissable " role="alert" style="margin: 0;padding-top: 0;padding-bottom: 0;"#}
{#                             ng-repeat="(key,val) in errors" ng-if="key == 'confirm_password'">#}
{##}
{#                            <p ng-repeat="a in val" style="font-size:14px;margin:0;">//a//</p></div>#}
{#                    </div>#}
{#                </div>#}
{#                <button type="submit" class="btn btn-lg pull-right btn-white btn-outline">{{ "register'#}
{#                    |translate}}#}
{#                </button>#}
{#            </form>#}
{#        </div>#}
    </div>
