{% load translators %}
{% load staticfiles %}
{% load i18n %}


<h1 class="md-title">زبان های خارجی</h1>
<div layout-gt-sm="column" ng-controller="step3Ctrl">
    <div class="frame">
        <div flex-gt-sm layout-padding>
            <div class="toolbar">

                <span>اطلاعات زبان های خارجی</span>
            </div>
            <md-content>

                <p class="help">
                    <md-icon md-font-icon="fa fa-info-circle"
                             style="    font-size: 24px;    color: rgb(97, 58, 0);">

                    </md-icon>
                    در این قسمت زبان هایی که با آن آشنایی دارید وارد نمایید

                    <br/>
                    پس از وارد نموده هر زبانی که با آن آشنایی دارید دکمه ی اضافه به لیست سوابق را کلیک کنید
                    و پس از تکمیل لیست دکمه ی ذخیره در سوابق را انتخاب نمایید

                    <br/>
                    توجه فرمایید در صورتی که دکمه ی ثبت در سوابق را در نزنید اطلاعات وارد شده ی شما ثبت نخواهد شد
                </p>

                <form name="frmLanguage">
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>نام زبان</label>
                            <md-select ng-model="LanguageItem.Name"
                                       ng-init="LanguageItem.Name='English'">
                                <md-option value="English">English</md-option>
                                <md-option value="Arabic">Arabic</md-option>
                                <md-option value="Turkish">Turkish</md-option>
                                <md-option value="French">French</md-option>
                                <md-option value="German">German</md-option>
                                <md-option value="Persian">Persian(not as mother tongue)</md-option>
                                <md-option value="Other">Other</md-option>
                            </md-select>
                        </md-input-container>
                        <div flex="5" hide-xs hide-sm>
                            <!-- Spacer //-->
                        </div>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>سطح</label>
                            <md-select ng-model="LanguageItem.Skill"
                                       ng-init="LanguageItem.Skill='خوب'">
                                <md-option value="عالی">عالی</md-option>
                                <md-option value="خیلی خوب">خیلی خوب</md-option>
                                <md-option value="خوب">خوب</md-option>
                                <md-option value="متوسط">متوسط</md-option>
                                <md-option value="بد">بد</md-option>
                                <md-option value="خیلی بد">خیلی بد</md-option>
                            </md-select>
                        </md-input-container>


                    </div>
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>عنوان گواهینامه</label>
                            <input type="text" ng-model="LanguageItem.LatestCertificateName">
                        </md-input-container>
                        <div flex="5" hide-xs hide-sm>
                            <!-- Spacer //-->
                        </div>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>
                                توضیحات
                            </label>
                            <input type="text" ng-model="LanguageItem.Explaination">
                        </md-input-container>
                        <div flex="5" hide-xs hide-sm>
                            <!-- Spacer //-->
                        </div>
                    </div>
                    <div>
                        <md-input-container class="md-block addtolist" flex-gt-sm>
                            <label></label>
                            <md-button
                                    class="md-raised md-primary"
                                    ng-disabled="frmLanguage.$invalid"
                                    ng-click="AddToList(LanguageItem)">
                                اضافه به لیست سوابق
                            </md-button>

                        </md-input-container>
                    </div>
                </form>
                <section>
                    <table class="table table-responsive">
                        <thead>
                        <tr>
                            <td>نام زبان</td>
                            <td>سطح</td>
                            <td>عنوان مدرک اخذ شده</td>
                            <td>توضیحات</td>
                            <td></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in Language.items track by $index">
                            <td>// item.Name //</td>
                            <td>// item.Skill //</td>
                            <td>// item.LatestCertificateName //</td>
                            <td>// item.Explaination //</td>
                            <td style="text-align: left">
                                <md-button class="md-raised" ng-click="itemEdit(item, $index)">ویرایش</md-button>
                                <md-button class="md-raised" ng-click="Language.items.splice($index,1)">حذف
                                </md-button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" style="text-align: center" ng-show="!Language.items.length">
                                هیچ سابقه ای وارد نشده است
                            </td>
                        </tr>
                        </tbody>

                    </table>
                </section>
            </md-content>

            <md-toolbar>
                <div class="md-toolbar-tools" layout-align="end center">
                    <md-button class="md-raised" ng-click="Post('3',Language)">ذخیره در سوابق و مرحله ی بعد</md-button>
                </div>
            </md-toolbar>

        </div>
    </div>
</div>