<div ng-controller="RialM77Ctrl" class="row flex-xl-nowrap">
    <div class="col-3 col-md-3 col-xl-2 bd-sidebar" style="    border-left: 1px solid #d0d0d0;">


        <nav class="collapse bd-links" style="text-align: justify" id="bd-docs-nav">
            <div class="bd-toc-item">
                <a class="bd-toc-link">
                   نیمه ساخت - 77
                </a>
                <div class="alert alert-success" style="font-size: 12px;">

                </div>
                <div class="alert alert-success" style="font-size: 12px;">
                    <ul style="text-align: right">
                        <li>قوانین
                            <ul>
                                <li>
                                    تمامی مواد اولیه هایی که دارای مقدار هستند می بایست دارای مبلغ نیز باشند
                                </li>
                                <li>
                                    در این مرحله فقط ورق سیاه بعنوان اولین چرخه از مواد اولیه در نظر گرفته می شود
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

{#                <md-button class="btn btn-success" ng-click="Refresh77()">#}
{#                    دریافت موجودی های کویل نیمه ساخته یا محصول کویل قلع اندود از انبارداری#}
{#                </md-button>#}




            </div>

        </nav>

    </div>

    <div class="col-9 col-md-9 col-xl-10  bd-content ">
        <div>


        </div>


        <table id="divTable77" class="display" style="width:100%; text-align: right">


        </table>


{#        <div>#}
{#            <md-button class="btn btn-success" ng-click="">#}
{#                دریافت ۶۶#}
{#            </md-button>#}
{##}
{#            <md-button class="btn btn-success" ng-click="getCalcStep1()">#}
{#                دریافت اطلاعات محاسبه شده#}
{#            </md-button>#}
{##}
{##}
            {#     <md-button class="btn btn-success" ng-click="RefreshFromHamkran()">دریافت تسیهم</md-button>#}
{#        </div>#}

{#        <div>#}
{#            <label for="">PartCode+space+qty+space+rial</label>#}
{#            <textarea name="" id="" cols="30" rows="10" ng-model="bulkInsert">#}
{##}
{#        </textarea>#}
{#            <md-button ng-click="postBulk()"> ثبت</md-button>#}
{#        </div>#}
{#        <div dir="rtl">#}
{##}
{#        </div>#}
{#        <div id="tbl77">#}
{##}
{#        </div>#}
    </div>


</div>