<div ng-controller="QCFindingBaseCtrl">
    <md-toolbar class="demo-toolbar md-primary _md _md-toolbar-transitions">
        <div class="md-toolbar-tools">
            <h2>
                یافته ها
            </h2>
            <span flex></span>
            <md-button class="md-fab md-mini" ui-sref="QCFindingPost">
                <md-icon md-font-icon="fa fa-plus"></md-icon>

                <md-tooltip>
                    یافته جدید
                </md-tooltip>
            </md-button>
        </div>
    </md-toolbar>

    <div class="shadower" ui-view="">





    </div>
</div>