<div>
    <div class="row">
        <div class="col-lg-12">
            <!-- BEGIN TIMELINE CONTENT -->
            {#        <div class="timeline-btn-day"><i class="icon-custom-left"></i>#}
            {#            <button type="button" class="btn btn-primary f-16" ng-click="addNewConv()"><strong>نظر جدید</strong>#}
            {#            </button>#}
            {#        </div>#}

            <section id="timeline">
                <div class="timeline-block" ng-repeat="item in approve.convs">
                    <div class="timeline-icon bg-primary">
                        <img
                                style="height: 61px;border-radius: 55px;"
                                ng-src="// item.avatar //" alt="// item.positionName //" class="md-avatar"/>
                    </div>
                    <div class="timeline-content">
                        <div>
                            <h4>//item.positionName//
                                <small>//item.dateOfPost | jalaliDate:'jYYYY/jMM/jDD - hh:mm'//</small>
                            </h4>
                        </div>
                        <p ng-bind-html="item.comment | to_trusted"></p>
                        <div ng-show="item.exp.approve.type == 3"
                             style="background-color: #62ff7d; border: 1px solid #d2d2d2;font-size: 12px;padding: 3px;">
                            //item.exp.approve.name// -
                                //item.exp.approve.dateOfApprove | jalaliDate:'jYYYY/jMM/jDD - hh:mm'//
                        </div>
                        <div ng-show="item.exp.approve.type == 4"
                             style="background-color: #73b7ff; border: 1px solid #d2d2d2;font-size: 12px;padding: 3px;">
                            //item.exp.approve.name// -
                                //item.exp.approve.dateOfApprove | jalaliDate:'jYYYY/jMM/jDD - hh:mm'//
                        </div>
                    </div>
                </div>

                <div class="timeline-block">
                    <div class="timeline-icon bg-primary">
                        <md-button class="md-raised md-fab" ng-disabled="waitForAppr"
                                   ng-click="addNewConv(approve, $event)"
                                   style="margin-right: 2px;    margin-top: 2px;">
                            <md-tooltip>
                                ثبت نظر جدید
                            </md-tooltip>
                            <md-icon md-font-icon="fa fa-plus"></md-icon>
                        </md-button>
                        <md-button class="md-raised" ng-disabled="waitForAppr"
                                   ng-click="weProduceIt(approve, $event)"
                                   style="margin-right: -12px;    margin-top: 30px;">
                            اقدام به تولید
                        </md-button>
                        <md-button class="md-raised" ng-disabled="waitForAppr"
                                   ng-click="readyToSend(approve, $event)"
                                   style="margin-right: -12px;    margin-top: 30px;">
                            آماده ارسال
                        </md-button>
                    </div>
                    <div class="timeline-content">
                        <div>
                            <h4>
                                ثبت نظر جدید
                                <small>نظرات و مسائل</small>
                            </h4>
                        </div>
                        <p>
                            چنانچه پیرامون این حواله فروش نظری دارید می توانید دکمه ی مثبت را کلیک نمایید.
                            امکان حذف نوشته های قبلی وجود ندارد. لذا در ورود آن دقت نمایید

                        </p>

                    </div>


                </div>

            </section>

            <!-- END TIMELINE CONTENT -->
        </div>
    </div>
</div>