<div ng-controller="BIDashboardPageCtrl">

    <md-toolbar class="md-hue-2" style="background-color: rgb(0 0 0);">
        <div class="md-toolbar-tools" layout="row">
            <h5>
                صفحات داشبورد </h5>
            <div flex>

            </div>
            <md-button class="md-icon-button" aria-label="Settings" ng-click="createDashboard()">
                <md-icon md-font-icon="fa fa-plus"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    {#    <md-toolbar class="md-menu-toolbar" style="background-color: #d2d2d2;">#}
    {#        <div layout="row">#}
    {#            <md-toolbar-filler layout-align="center center" layout="row" style="background-color: rgb(139 159 175)">#}
    {#            </md-toolbar-filler>#}
    {##}
    {#            <div>#}
    {#                <h2 class="md-toolbar-tools">#}
    {#                    صفحات داشبورد#}
    {#                </h2>#}
    {##}
    {#                <div>#}
    {##}
    {#                    <md-button class="md-raised" ng-click="createDashboard()">#}
    {#                        داشبورد جدید#}
    {#                    </md-button>#}
    {##}
    {##}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </md-toolbar>#}
    <div class="shadower" layout="row" layout-wrap="">
        <div ng-repeat="item in dashboard_pages"
             style="width: 150px; height: 150px; margin: 3px; padding: 3px; border: 1px solid gainsboro; overflow: hidden"
             layout="row"
             layout-align="center center">
            <div style="font-size: 12px; text-align: center">
                <div>
                    <div>
                        صفحه
                        <br>
                        //item.pageTitle//
                    </div>

                </div>
                <div>
                    <div>
                        <md-button class="md-raised" ui-sref="bi-dashboard-pages-design({id:item.id})">ورود به صفحه
                        </md-button>

                    </div>
                    <a ng-click="editDashboard($event, item)">تغییر نام </a> |
                    <a ng-click="deleteDashboard($even, item)"> حذف </a>
                </div>
            </div>
        </div>
    </div>


</div>