<div ng-controller="BIShowPagesCtrl">
    <md-toolbar class="md-hue-2" style="background-color: rgb(0 0 0 / 54%);">
        <div class="md-toolbar-tools" layout="row">
            <h5>
                //page.title//
            </h5>
            <div flex>

            </div>

        </div>
    </md-toolbar>

    <div class="shadower">
        <div ng-repeat="row in page.rows" layout="//row.layout//">
            <div ng-repeat="col in row.column" flex="//col.flex//" >
                <bpms-related-simple-table ng-if="col.type === 44312" currentcell="col" ></bpms-related-simple-table>
                <bpms-related-chart ng-if="col.type === 98985" currentcell="col" ></bpms-related-chart>
            </div>
        </div>

    </div>

</div>