{% load translators %}
<div class="container">


    <div class="row">
        <div style="text-align: center!important;  border-bottom: 1px solid gray; padding-bottom: 15px;  margin-bottom: 25px;">
            <h4 style="font-size: 27px;">به واقعیت مجازی جدید خوش آمدید</h4>
            <h5 style="font-size: 23px; font-weight: bold; color: #004600">فرآیند ثبت نام شما با موفقیت انجام شد</h5>
        </div>
        <div class="col-md-7 pull-left" style="text-align: justify!important;">

            <p>
                کاربر این سامانه می‌تواند یک کاربر عادی باشد یا یک **** با بیش از ۲۰هزار عضو و یا جامعه‌ای با
                میلیون‌ها نفر که نیاز به تسریع در امور خود دارند. در یک **** بزرگ حذف کاغذ و تسریع در بروکراسی را موجب
                می‌شود و در یک شخص عادی نیز اون را به سمت کارآفرینی هدایت می‌کند و از انفعال افراد جلوگیری می کند. با
                سالها تحقیق و چالش با سامانه های مختلف مدیریتی کشورهای توسعه یافته برای اولین بار سندی تهیه شد موجبات
                تحولات فردی تا ****ی را ارائه می کند.
            </p>

            <p>
            <ul class="welcome-ul">
                مدیریت کامل نامه نگاری فردی ، ****ی<br>
                <li>مدیریت ، ساخت و نشر فرآیندهای یک شخص تا یک **** بزرگ هلدینگ با استاندارد</li>
                <li>مدیریت اسناد و نسخه سازی</li>
                <li>مدیریت به اشتراک گذاری محتوا</li>
                <li>مدیریت فایل‌های ابری</li>
                <li>مدیریت ساختاری ****ی</li>
                <li>مدیریت محصولات و خدمات</li>
                <li>مدیریت دبیرخانه ها و مراکز تولید اسناد</li>
                <li>مدیریت یافتن افراد کارآمد ، همکاری و استخدام</li>
                <li>مدیریت اطلاعات تماس افراد و به اشتراک گذاری</li>
                <li>مدیریت ساختارها و چارت های ****ی</li>
                <li>مدیریت پروفایل – لایک و به اشتراک گذاری سوابق جهت همکاری</li>
                <li>و …</li>
            </ul>
            </p>
        </div>
        <div class="col-md-4 pull-right">
            <img src="/static/images/****.jpg" alt=""/>
        </div>
    </div>
    <div class="row" style="border-top: 1px solid gray;  margin-top: 20px;  padding-top: 15px;">
                <a href="/#/introducePage">اولین قدم در سامانه</a>

    </div>


    <style>

        .container {
            margin-right: auto;
            margin-left: auto;
            padding-left: 5px;
            padding-right: 5px;
        }

        @media (min-width: 768px) {
            .container {
                width: 730px;
            }
        }

        @media (min-width: 992px) {
            .container {
                width: 950px;
            }
        }

        @media (min-width: 1200px) {
            .container {
                width: 980px;
            }
        }

        ol li {
            font-size: 17px;
        }

        ul li {
            list-style: none;
            display: inline-block;
            width: 80px;
            font-size: 17px;
            text-align: center;
        }
    </style>
</div>
