{% load translators %}
<div class="container">
    <div class="row"
         style="text-align: center!important;  border-bottom: 1px solid gray; padding-bottom: 15px;  margin-bottom: 25px;">
        <h2 style="font-size: 23px; font-weight: bold; color: #460500">
            اولین قدم
        </h2>
    </div>
    <div class="row">
        <div class="col-md-7 pull-left">
            <p>
                قبل از ورود به سامانه به مطلب زیر توجه کنید :<br>
                <BR>
                ۱- ابتدا پروفایل خود را بروز رسانی کرده و نامی مناسب برای خود انتخاب نمایید<br>
                ۲- در صورتی که در سامانه دعوت شده‌اید در قسمت بالا وب سایت و بر روی نام شرکت کلیک کرده و نام شرکتی که
                شما را دعوت کرده به سادگی انتخاب نمایید<br>
                ۳- در صورتی که بدون دعوتنامه وارد سیستم شده‌اید سامانه بصورت خودکار یک شرکت همراه با چارت ****ی و … را
                بصورت پیش‌فرض برای شما می‌سازد و می‌توانید با ورود به قسمت مدیریت شرکت ها آنرا مدیریت نمایید<br>
                ۴- پس از مدیریت و تنظیمات مربوط به شرکت یا گروه هایتان می‌توانید از مدیریت فرآیندها ، اتوماسیون اداری ،
                مدیریت منابع انسانی ، کنترل مستندات و … به درستی و سادگی استفاده نمایید<br>
                <br>
                این سامانه نسل جدیدی از جامعه ی مجازی ساختار یافته است که با فرآهم آوردن امکانات سرگرمی سایر جوامع مجازی
                یک سری امکانات کاربردی پر هزینه را بصورت رایگان در اختیار کاربران خود قرار می دهد.<br>


            </p>
        </div>
        <div class="col-md-4 pull-right">
            <img src="/static/images/****.jpg" alt=""/>
        </div>

    </div>
    <div class="row">
        <div class="row" style="border-top: 1px solid gray;  margin-top: 20px;  padding-top: 15px;">
            <a href="/#/dashboard/MyProfile">ورود به سامانه</a>

        </div>

    </div>
    <style>

        .container {
            margin-right: auto;
            margin-left: auto;
            padding-left: 5px;
            padding-right: 5px;
        }

        @media (min-width: 768px) {
            .container {
                width: 730px;
            }
        }

        @media (min-width: 992px) {
            .container {
                width: 950px;
            }
        }

        @media (min-width: 1200px) {
            .container {
                width: 980px;
            }
        }

        ol li {
            font-size: 17px;
        }

        ul li {
            list-style: none;
            display: inline-block;
            width: 80px;
            font-size: 17px;
            text-align: center;
        }
    </style>
</div>
