<div ng-controller="KhoroojCtrl">


    <md-toolbar class="md-menu-toolbar">
        <div layout="row">
            <md-toolbar-filler layout layout-align="center center">
                <md-icon md-font-icon="fa fa-paste"></md-icon>
            </md-toolbar-filler>

            <div flex>
                <h2 class="md-toolbar-tools">مجوزهای خروج</h2>

                <div layout="row">
                    <input flex type="text" ng-model="searchStr"
                           ng-model-options="{debounce: 500}"
                           placeholder="جستجو در تمام فیلدهای حواله تحویل فروش"
                           style="    height: 30px; font-size: 14px; padding: 3px;">
                    <span flex="10"></span>

                    <md-button class="md-button md-raised" ng-if="exists.first" ng-click="gotopage(exists.first)">اولین
                    </md-button>
                    <md-button class="md-button md-raised" ng-if="exists.previous" ng-click="gotopage(exists.previous)">
                        قبلی
                    </md-button>
                    <md-button class="md-button md-raised" ng-if="exists.next" ng-click="gotopage(exists.next)">بعدی
                    </md-button>
                    <md-button class="md-button md-raised" ng-if="exists.last" ng-click="gotopage(exists.last)">آخرین
                    </md-button>
                </div>


            </div>


        </div>
    </md-toolbar>
    <md-divider></md-divider>


    <div layout="column">


        {#            <div layout="row">#}
        {#                <input flex type="text" ng-model="searchStr"#}
        {#                       ng-model-options="{debounce: 500}"#}
        {#                       placeholder="جستجو در تمام فیلدهای حواله تحویل فروش"#}
        {#                       style="    height: 30px; font-size: 14px; padding: 3px;">#}
        {#                <span flex="10"></span>#}
        {##}
        {#                <md-button class="md-button md-raised" ng-if="exists.first" ng-click="gotopage(exists.first)">اولین#}
        {#                </md-button>#}
        {#                <md-button class="md-button md-raised" ng-if="exists.previous" ng-click="gotopage(exists.previous)">#}
        {#                    قبلی#}
        {#                </md-button>#}
        {#                <md-button class="md-button md-raised" ng-if="exists.next" ng-click="gotopage(exists.next)">بعدی#}
        {#                </md-button>#}
        {#                <md-button class="md-button md-raised" ng-if="exists.last" ng-click="gotopage(exists.last)">آخرین#}
        {#                </md-button>#}
        {#            </div>#}
        <div layout-gt-sm="row" layout-padding="" style="    background-color: cadetblue;
    color: white;">
            <div flex-gt-sm>وضعیت</div>
            <div flex-gt-sm>تعداد امضا</div>
            <div flex-gt-sm>شماره حواله</div>
            <div flex-gt-sm>نام شرکت</div>
            <div flex-gt-sm>تاریخ صدور</div>
            <div flex-gt-sm>جمع کل کیلو</div>
        </div>
        <div ng-repeat="item in exists.results"
             ng-click=""
             ui-sref="KhoroojDetails({khid:item.id})"
             layout-padding=""
             ng-class-odd="'odd'"
             ng-class-even="'even'">
            <div layout-gt-sm="row" style="    border: solid 1px #a2a2a2;">


                <div ng-show="!Boolean(item.exp['itIsBatel'])" flex-gt-sm layout="row">
                    <div ng-class="{'saleOK':item.hahScan, 'saleNot': !item.hahScan, }">
                        <md-tooltip>دارای اسکن</md-tooltip>
                        //item.hahScan//
                    </div>
                    <div ng-class="{'saleOK':item.hasSms, 'saleNot': !item.hasSms, }">
                        <md-tooltip>ارسال اس ام اس</md-tooltip>
                        //item.hasSms//
                    </div>
                    <div ng-class="{'saleOK':item.readSms, 'saleNot': !item.readSms, }">
                        <md-tooltip>مراجعه به لینک</md-tooltip>
                        //item.readSms//
                    </div>

                </div>

                <div ng-show="Boolean(item.exp['itIsBatel'])" flex-gt-sm layout="row">
                    باطل شده
                </div>


                <div flex-gt-sm style="font-weight: bold;font-size: 17px;color: blue;">
                    //item.signCount//
                    <span ng-if="item.change_found"
                          style="font-weight: 100;font-size: 12px;color: darkred;">
                        (ویرایش شده)
                    </span>
                </div>
                <div flex-gt-sm>
                    //item.exp.t0_Number//
                    <span style="color: #262626; font-size: 12px;">(//item.exp.t1_Name//)</span>
                </div>
                <div flex-gt-sm>//item.exp.t0_CounterpartEntityText//</div>
                <div flex-gt-sm>//item.exp.t0_Date | jalaliDate:'jYYYY/jMM/jDD'//</div>
                <div flex-gt-sm style="    font-size: 16px;    font-weight: bold;    color: #18a689;">
                    //item.exp.TotalQty//
                </div>
            </div>
            <div layout-gt-sm="row" style="margin: 0;
    padding: 0;
    font-size: 11px;    border: solid 1px #a2a2a2;
    border-top: none;
    padding: 5px 7px;">
                <div flex-gt-sm><span>راننده : </span><span>//item.exp.t2_String2//</span></div>
                <div flex-gt-sm><span>باربری : </span><span>//item.exp.t4_name_barbari//</span></div>
                <div flex-gt-sm><span>موبایل : </span><span>//item.exp.t2_String3//</span></div>
                <div flex-gt-sm><span>پلاک : </span><span>//item.exp.t2_String1//</span></div>
                <div flex-gt-sm><span>بارنامه : </span><span>//item.exp.t2_String4//</span></div>
                <div flex-gt-sm><span>از : </span><span>//item.exp.t1_StockCaption//</span></div>

            </div>


        </div>

    </div>


    {##}
    {#    <table#}
    {#            class="table table-bordered bordered table-striped table-condensed datatable"#}
    {#            ui-jq="dataTable"#}
    {#            ui-options="dataTableOpt"#}
    {#            id="table2">#}
    {##}
    {#    </table>#}

</div>