{% load translators %}

{#    <md-content>#}
{#        <md-list flex>#}
            <md-list-item class="md-3-line" ng-repeat="item in StarredContacts.results" ng-click="null">
                        {% include "Contacts/contact_details.html" %}

            </md-list-item>
{#        </md-list>#}
{#    </md-content>#}


{#<div class="contact-container">#}
{#    <div class="clearfix back-white-contact pagination-centered" ng-repeat="item in StarredContacts.results">#}
{#        {% include "Contacts/contact_details.html" %}#}
{#    </div>#}
{##}
{##}
{#</div>#}
