{% load translators %}
<div class="shadower" ng-controller="FirstIntroCtrl">
    <div layout="column">
        <div layout="column" style="text-align: center">
            <h4 style="font-size: 27px;">

راهسون آماده ی استفاده شماست

            </h4>
        </div>
        <md-divider></md-divider>
        <div>

            <p>
                سامانه آماده ی استفاده است. اعضایی که خواهان همکاری با شما هستند می توانند از قسمت همکاری با ما در صفحه ورود به سیستم
                اعلام آمادگی نمایند
                <br>
                به همین منظور راهسون یک آگهی همکاری برای شما ایجاد کرده است.

                <br>



            </p>
            <div layout="row" layout-align="center center">
                <img src="/static/images/faces/1.jpg" alt="">
            </div>
        </div>
            <md-toolbar class="md-hue-1">
                <div class="md-toolbar-tools" layout-align="center center">
                    <md-button class="md-raised md-primary" ng-click="Finish()">

                    <md-icon md-font-icon="fa fa-arrow-right"></md-icon>

تایید و پایان

                    </md-button>
                </div>
            </md-toolbar>



    </div>
</div>
