{% load translators %}
<div id="task-setup-div" style="display:none;">


    <div class="company-bpmn-toolbox-right">
        <div>
            {{ 'Form Objects'|translate }}
        </div>
        <div>
            <div fg-edit-palette></div>
        </div>
    </div>
    <div class="form-edit-content">
        <div class="form-content-edit">
            <div class="tbl-container">
                <table class="tbl-performer-type">
                    <tr>
                        <td colspan="6"
                            style="text-align: right;font-size: 11px;  font-weight: bold;  border-bottom: 1px solid rgb(207, 207, 207);">
                            {{ "Select performer type"|translate }}
                        </td>
                    </tr>
                    <tr>
                        <td class="btn-rec hover-back" ng-class="{'selectedHightlight':performerType ==1}"
                            ng-click="performerType=1">{{ 'User'|translate }}
                        </td>
                        <td class="btn-rec hover-back" ng-class="{'selectedHightlight':performerType ==2}"
                            ng-click="performerType=2">{{ 'Chart'|translate }}
                        </td>
                        <td class="btn-rec hover-back" ng-class="{'selectedHightlight':performerType ==3}"
                            ng-click="performerType=3">{{ 'Starter'|translate }}
                        </td>
                        <td class="btn-rec hover-back" ng-class="{'selectedHightlight':performerType ==4}"
                            ng-click="performerType=4">{{ 'Zone'|translate }}
                        </td>
                        <td class="btn-rec hover-back" ng-class="{'selectedHightlight':performerType ==5}"
                            ng-click="performerType=5">{{ 'Boss'|translate }}
                        </td>
                        <td class="btn-rec hover-back" ng-class="{'selectedHightlight':performerType ==6}"
                            ng-click="performerType=6">{{ 'Previous'|translate }}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6" style="border-top: 1px solid rgb(207, 207, 207);">
                            <div class="row">
                                <div class="col-md-12">
                                    <p ng-hide="performerType!=3"
                                       style="word-break: break-word;font-size: 16px;font-weight: bold;margin:10px 2px;">
                                        {{ 'The starter will be performer of this task'|translate }}
                                    </p>

                                    <p ng-hide="performerType!=5"
                                       style="word-break: break-word;font-size: 16px;font-weight: bold;margin:10px 2px;">
                                        {{ 'Boss of starter will be performer of this task'|translate }}
                                    </p>

                                    <div class="col-md-6" ng-hide="performerType!=2">
                                        <label for="pos-select">{{ 'assignpos'|translate }}<select class="form-control"
                                                                                                   name="pos-select"
                                                                                                   id="pos-select"
                                                                                                   ng-model="chartSelected"
                                                                                                   ng-options="chart.id as chart.title for chart in charts.results">
                                            <option value="" selected label="select position...">
                                                {{ 'Select a position...'|translate }}
                                            </option>

                                        </select></label>
                                    </div>
                                    <div class="col-md-6" ng-hide="performerType!=2">
                                        <p
                                                style="word-break: break-word;font-size: 15px;margin:10px 2px;">
                                            {{ 'systemWillAssignTheMostFreePersonInThisChartAutomatically'|translate }}
                                        </p>
                                    </div>
                                    <div class="col-md-5" ng-hide="performerType!=1">
                                        <div class="form-group">
                                            <label for="pos-select">{{ 'assignpos'|translate }}<select
                                                    class="form-control"
                                                    name="pos-select"
                                                    id="pos-select"
                                                    ng-model="chartSelected"
                                                    ng-options="chart.id as chart.title for chart in charts.results">
                                                <option value="" selected label="select position...">select
                                                    position...
                                                </option>

                                            </select></label>
                                        </div>
                                    </div>
                                    <div class="col-md-6" ng-hide="performerType!=1">
                                        <div class="form-group">


                                            <label for="user-select">{{ 'assignuser'|translate }}<select
                                                    class="form-control"
                                                    name="user-select"
                                                    id="user-select"
                                                    ng-model="userSelected"
                                                    ng-options="user.id as user.profileName for user in users.results">
                                                <option value="" selected label="select user...">select user...</option>


                                            </select></label>
                                        </div>
                                    </div>
                                    <div class="col-md-8" ng-hide="performerType!=6">
                                        <label for="user-select">{{ 'enter user field id'|translate }}
                                            <input type="text" class="form-control" ng-model="prePerformer"/>
                                        </label>
                                    </div>
                                    <p class="col-md-3" ng-hide="performerType!=6">
                                        {{ 'copy field which contains selected user here'|translate }}
                                    </p>


                                </div>
                            </div>
                        </td>
                    </tr>
                </table>

            </div>
            <div class="tbl-container">
                <table class="tbl-performer-type">
                    <tr>
                        <td colspan="2"
                            style="text-align: right;font-size: 11px;  font-weight: bold;  border-bottom: 1px solid rgb(207, 207, 207);">
                            {{ 'Select previous forms to copy them'|translate }}:
                        </td>
                    </tr>
                    <tr>
                        <td><select name="copyPaste" id="copyPaste" ng-model="selectedFormForCopy">
                            <option value="">{{ 'Select a form...'|translate }}</option>
                            <option ng-repeat="itm in formsForCopy" value="//itm.id//">//itm.name//</option>
                        </select></td>
                        <td>
                            <button class="btn btn-xs btn-primary" ng-click="pasteForm()">
                                {{ 'Paste here'|translate }}
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-sm btn-primary" ng-click="unreadonlyAll()">
                                {{ 'unreadonlyAll'|translate }}
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-sm btn-primary" ng-click="readonlyAll()">
                                {{ 'readonlyAll'|translate }}
                            </button>
                        </td>


                    </tr>
                </table>

            </div>


            <hr/>
            <form class="form-horizontal">
                <!-- Embed the schema editor on the form -->
                <div fg-edit fg-schema="form.schema"></div>
            </form>
        </div>

        <div class="btn-form-save" style="border-top: 2px solid rgb(189, 189, 189);">
            <span class="panel-title">//lastSelected.businessObject.name// </span>

            <div class="btn-group btn-group-xs set-left">
                <button class="btn btn-xs btn-danger fa fa-times"
                        ng-click="cancelTask()"></button>
                <button class="btn btn-xs btn-warning fa fa-refresh"
                        ng-click="resetForm()"></button>
                <button class="btn btn-xs btn-success fa fa-save"
                        ng-click="saveSetupTask()"></button>
            </div>
        </div>
    </div>


</div>